<template>
  <div class="my-3 ml-2" id="requests-view">
    <b-container fluid class="pr-5">
      <Loading v-if="showLoading" />
      <center>
        <b-card style="width:700px;height:80px">
          <h3 class="color1">TRANSACTION NUMBER: {{ $route.params.id }}</h3>
        </b-card>
      </center>
      <div class="my-1 ml-4">
        <b-row>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <p>Truck Details</p>
                </div>
                <p>
                  <b>Plate Number:</b>
                  {{ form.plate_number }}
                </p>
                <p>
                  <b>Truck Model:</b>
                  {{ form.truck_model }}
                </p>
                <p>
                  <b>Driver:</b>
                  {{ form.driver_name }}
                </p>
              </center>
            </b-card>
          </b-col>
          <b-col cols="6">
            <b-card class="my-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <p>Supplier Details</p>
                </div>
                <p>
                  <b>Name:</b>
                  {{ form.supplier_name }}
                </p>
                <p>
                  <b>Address:</b>
                  {{ form.supplier_add }}
                </p>
              </center>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="4">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <p>Transaction Details</p>
                </div>
                <p>
                  <b>Type:</b>
                  {{ form.transaction_type }} {{sub_type ? '(' + sub_type + ')' : ''}}
                </p>
                <p>
                  <b>Item:</b>
                  {{ form.raw_material }}
                </p>

                <p>
                  <b>Quantity:</b>
                  {{form.numBags}}
                </p>

                <p
                  v-if="
                  transactionStatus === 'For Outbound' ||
                    transactionStatus === 'Pending'
                "
                >
                  <b>Remarks:</b>

                  <b-form-textarea
                    id="textarea"
                    v-model="remarks"
                    placeholder=" "
                    rows="3"
                    max-rows="6"
                    class="my-2"
                    :maxlength="text_area_max_length"
                    @keydown.enter.prevent
                  ></b-form-textarea>
                  You have used {{remarks ? remarks.length : 0}} of {{text_area_max_length}} characters
                </p>

                <p
                  v-if="
                  transactionStatus === 'Completed' 
                   
                "
                >
                  <b>Remarks:</b>

                  <b-form-textarea
                    id="textarea"
                    v-model="offlineModeData.remarks"
                    placeholder=" "
                    rows="3"
                    max-rows="6"
                    class="my-2"
                    disabled
                  ></b-form-textarea>
                </p>
                <br />
              </center>
            </b-card>
          </b-col>
          <b-col>
            <!-- Might change 3 v-if for each transaction -->
            <b-card class="my-2 ml-2" style="height:90%;margin-bottom:10px">
              <b-row class="my-3">
                <b-col cols="6">
                  <b-row align-h="center">
                    <div class="h7">
                      <center>
                        <p style="font-size:14px">INBOUND TRANSACTION</p>
                      </center>
                    </div>
                  </b-row>
                  <b-row align-h="center" style="margin-top:-20px;margin-bottom:10px">
                    <h6>{{ inboundWeightType }} Weight</h6>
                  </b-row>
                </b-col>

                <b-col cols="4">
                  <b-row align-h="center" class="mr-2 ml-2">
                    <!-- <b-form-input
                    class="digital"
                    v-model="inboundValue"
                    type="text"
                    placeholder="0000000 "
                    debounce="500"
                    disabled
                    ></b-form-input>-->
                    <h4 class="digital">{{ inboundValue }}</h4>
                    <!-- <b-button v-if="transactionStatus === 'others'" @click="saveInbound">save</b-button> -->
                  </b-row>
                </b-col>
                <b-col cols="2">
                  <b-row>
                    <h4 class="digital">KGS</h4>
                    <b-button
                      v-if="weightStatus == 'inbound'"
                      variant="none"
                      @click="inboundLockOrUnlock"
                    >
                      <font-awesome-icon
                        style="color:green;height:22px;width:22px"
                        :icon="inboundLockAndUnlockIcon"
                      />
                    </b-button>
                  </b-row>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="6">
                  <b-row align-h="center">
                    <div class="h7">
                      <center>
                        <p style="font-size:14px">OUTBOUND TRANSACTION</p>
                      </center>
                    </div>
                  </b-row>
                  <b-row align-h="center" style="margin-top:-20px;margin-bottom:10px">
                    <h6>{{ outboundWeightType }} Weight</h6>
                  </b-row>
                </b-col>
                <b-col cols="4">
                  <b-row align-h="center" class="mr-2 ml-2">
                    <!-- <b-form-input
                    v-model="outboundValue"
                    type="text"
                    placeholder="0000000 "
                    debounce="500"
                    disabled
                    rtl
                    ></b-form-input>-->
                    <h4 class="digital">{{ outboundValue }}</h4>
                    <!-- <b-button v-if="transactionStatus === 'others'" @click="saveOutbound">Save</b-button> -->
                  </b-row>
                </b-col>
                <b-col cols="2">
                  <b-row>
                    <h4 class="digital">KGS</h4>
                    <b-button
                      v-if="weightStatus == 'outbound'"
                      variant="none"
                      @click="outboundLockOrUnlock"
                    >
                      <font-awesome-icon
                        style="color:green;height:22px;width:22px"
                        :icon="outboundLockAndUnlockIcon"
                      />
                    </b-button>
                    <!-- <b-button id="btnLogout" variant="none">
                  <font-awesome-icon style="color:gray;height:22px;width:22px" icon="unlock" />
                    </b-button>-->
                  </b-row>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="6">
                  <b-row align-h="center" style="margin-top:30px;margin-bottom:10px">
                    <h4>NET WEIGHT</h4>
                  </b-row>
                </b-col>
                <b-col cols="4">
                  <b-row
                    align-h="center"
                    class="mr-2 ml-2"
                    style="margin-top:20px;margin-bottom:10px"
                  >
                    <!-- <b-form-input
                    v-model="netWeight"
                    type="text"
                    debounce="500"
                    placeholder="0000000 "
                    disabled
                    ></b-form-input>-->
                    <b>
                      <h4 class="digital">{{ netWeight }}</h4>
                    </b>
                  </b-row>
                </b-col>
                <b-col cols="2">
                  <b-row style="margin-top:20px;margin-bottom:10px">
                    <h4 class="digital">KGS</h4>
                  </b-row>
                </b-col>
              </b-row>
            </b-card>
          </b-col>
        </b-row>
      </div>
      <b-row class="my-1 ml-5 right">
        <b-button
          href="/transaction"
          variant="danger"
          class="my-1 mr-2 block"
          style="font-size:14px"
        >Cancel</b-button>

        <b-button
          @click="determineAction"
          class="button1 block mr-3 my-1"
          style="font-size:14px"
        >{{ saveButton }}</b-button>
      </b-row>

      <b-modal
        id="pin"
        no-close-on-backdrop
        hide-header-close
        header-bg-variant="success"
        header-text-variant="light"
      >
        <template v-slot:modal-title>
          <h6>Security Purposes</h6>
        </template>
        <div class="container1">
          <h5>Enter Your Pincode</h5>
          <div class="pinBox">
            <input
              id="input-code"
              class="pinEntry"
              ref="pins"
              v-model="pincode"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
              @keyup.enter="confirmpin()"
            />
          </div>
        </div>

        <template v-slot:modal-footer>
          <p class="pinError">{{pinError}}</p>
          <b-button
            id="save"
            size="sm"
            variant="success"
            @click="confirmpin()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="cancel"
            size="sm"
            @click="closePinModal()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
      </b-modal>

      <!-- signature modal -->
      <b-modal
        id="signature"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
        hide-header-close
      >
        <template v-slot:modal-title>
          <h6>Draw Signature</h6>
        </template>

        <div>
          <div class="col-12">
            <VueSignaturePad
              id="signature"
              width="100%"
              height="450px"
              ref="signaturePad"
              :options="{
              onBegin: () => {
                $refs.signaturePad.resizeCanvas();
              }
            }"
            />
          </div>
          <div class="col-3 mt-2">
            <b-button variant="dark" style="font-size:13px;border: 0px;" @click="clear">Undo</b-button>
          </div>
        </div>

        <template v-slot:modal-footer>
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            @click="addSignature()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="closeSignatureModal()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <!-- ALERT SUCCESSFULL -->
        <b-alert
          id="alertsuc"
          :show="dismissCountDown"
          dismissible
          fade
          class="button1 fixed"
          @dismiss-count-down="countDownChanged"
        >{{ successMsg }}</b-alert>
        <!-- error msg -->
        <b-alert
          id="alertdanger"
          :show="dismissCountDownErr"
          dismissible
          fade
          class="err fixed"
          @dismiss-count-down="countDownChangedErr"
        >{{ errorMsg }}</b-alert>
        <!-- ALERT SUCCESSFULL END -->
      </b-modal>
      <b-alert
        id="alertdanger"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert>
    </b-container>
  </div>
</template>

<script>
// import alert from "@/components/Alert/Successful";
import VueSignaturePad from "vue-signature-pad";
import axios from "axios";
import { tan } from "color-name";
import io from "socket.io-client";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading,
    VueSignaturePad
  },

  async created() {
    await this.getCOMport();
    await this.getTransaction();
    await this.determineTransaction();
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "process transaction" }
  },
  computed: {
    netWeight() {
      if (
        this.commaSeparateToNum(this.inboundValue) &&
        this.commaSeparateToNum(this.outboundValue)
      ) {
        if (this.sub_type === "Withdrawal") {
          const net =
            this.commaSeparateToNum(this.outboundValue) -
            this.commaSeparateToNum(this.inboundValue);

          return this.commaSeparate(net.toFixed(3));
        } else {
          const net =
            this.commaSeparateToNum(this.inboundValue) -
            this.commaSeparateToNum(this.outboundValue);

          return this.commaSeparate(net.toFixed(3));
        }
      } else {
        return 0;
      }
    }
  },
  watch: {
    inboundValue() {
      if (this.weightStatus == "inbound" && this.socket) {
        this.socket.emit("log", {
          transaction_id: this.$route.params.id,
          value: this.inboundValue,
          type: this.weightStatus
        });
      }
    },
    outboundValue() {
      if (this.weightStatus == "outbound" && this.socket) {
        this.socket.emit("log", {
          transaction_id: this.$route.params.id,
          value: this.outboundValue,
          type: this.weightStatus
        });
      }
    }
  },

  data() {
    return {
      text_area_max_length: 300,

      sub_type: null,

      offlineModeData: null,
      successMsg: null,
      saveButton: "Save", // text in save button
      showLoading: false,
      form: {
        // transaction_number:'02-111419-00001',
        plate_number: null,
        truck_model: null,
        driver_name: null,

        supplier_name: null,
        supplier_add: null,

        transaction_type: null,
        raw_material: null
      },
      inboundWeightType: null,
      outboundWeightType: null,
      port: null,
      plateNumberList: [],
      driverList: [],
      transactionStatus: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      inboundValue: 0,
      inboundBool: false, // on off receive data
      outboundBool: false, // on off receive data
      inboundCounter: 0, // determine to save data or not
      outboundCounter: 0, // determine to save data or not
      outboundValue: 0,
      weightValues: null,
      drivers_id: null,
      truck_info_id: null,
      signaturePath: null,
      remarks: null,
      pincode: null,
      pinError: null,
      trackingCode: null,
      socket: null,

      print_count: null,

      inboundLockAndUnlockIcon: "unlock",
      outboundLockAndUnlockIcon: "unlock",

      weightStatus: null
    };
  },
  methods: {
    inboundLockOrUnlock() {
      if (this.inboundBool) {
        this.inboundLockAndUnlockIcon = "lock";
      } else {
        this.inboundLockAndUnlockIcon = "unlock";
      }

      this.inboundBool = !this.inboundBool;
    },

    outboundLockOrUnlock() {
      if (this.outboundBool) {
        this.outboundLockAndUnlockIcon = "lock";
      } else {
        this.outboundLockAndUnlockIcon = "unlock";
      }

      this.outboundBool = !this.outboundBool;
    },

    onOffReceiveInbound() {
      this.inboundBool = !this.inboundBool;
      if (this.inboundCounter == 0) {
        this.inboundCounter = 1;
      } else {
        this.inboundCounter = 0;
      }
      return;
    },
    onOffReceiveOutbound() {
      this.outboundBool = !this.outboundBool;
      if (this.outboundCounter == 0) {
        this.outboundCounter = 1;
      } else {
        this.outboundCounter = 0;
      }
      return;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    toLowerCases(str) {
      return str.toLowerCase();
    },
    async determineAction() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        this.onOffReceiveInbound();
        this.$bvModal.show("pin");
        setTimeout(() => {
          this.$refs.pins.focus();
        }, 500);
        return;
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        this.onOffReceiveOutbound();
        this.$bvModal.show("pin");
        setTimeout(() => {
          this.$refs.pins.focus();
        }, 500);
        return;
      }
      if (this.transactionStatus.toLowerCase() == "pending") {
        // if (this.inboundBool == true) {
        //   this.onOffReceiveInbound();
        //   this.$bvModal.show("pin");
        //   setTimeout(() => {
        //     this.$refs.pins.focus();
        //   }, 500);
        //   return;
        // }
        // if (this.outboundBool == true) {
        //   this.onOffReceiveOutbound();
        //   this.$bvModal.show("pin");
        //   setTimeout(() => {
        //     this.$refs.pins.focus();
        //   }, 500);
        //   return;
        // }

        if (this.weightStatus == "inbound") {
          if (this.inboundBool) {
            this.errorMsg = "Please lock weight before saving";
            this.showAlertErr();
            return;
          }
        } else if (this.weightStatus == "outbound") {
          if (this.outboundBool) {
            this.errorMsg = "Please lock weight before saving";
            this.showAlertErr();
            return;
          }
        }

        this.$bvModal.show("pin");
        setTimeout(() => {
          this.$refs.pins.focus();
        }, 500);
        return;
      }

      if (this.transactionStatus.toLowerCase() == "rejected") {
        // if rejected
        this.errorMsg = "Outbound is not allowed.";
        this.showAlertErr();
        setTimeout(() => {
          this.$router.push("/transaction");
        }, 1000);
      }

      // if transaction type is others; then completed; print weight slip
      if (
        (this.transactionStatus.toLowerCase() == "completed" &&
          this.form.transaction_type.toLowerCase() == "others") ||
        this.form.transaction_type.toLowerCase() == "unahco" ||
        this.form.transaction_type.toLowerCase() == "biotech farms"
      ) {
        this.printWeightSlip();
      }
      return;
    },
    async closePinModal() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        this.onOffReceiveInbound();
        this.pincode = null;
        this.$bvModal.hide("pin");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        this.onOffReceiveOutbound();
        this.pincode = null;
        this.$bvModal.hide("pin");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "pending") {
        // if (this.inboundBool == false && this.inboundCounter == 1) {
        //   this.onOffReceiveInbound();
        //   this.pincode = null;
        //   this.$bvModal.hide("pin");
        //   return;
        // }
        // if (this.outboundBool == false && this.outboundCounter == 1) {
        //   this.onOffReceiveOutbound();
        //   this.pincode = null;
        //   this.$bvModal.hide("pin");
        //   return;
        // }

        this.pincode = null;
        this.$bvModal.hide("pin");
      }
    },
    async confirmpin() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/check-pin`,
            data: {
              id: localStorage.id,
              pin: this.pincode,
              mode: localStorage.mode
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;

          if (res.status === 200) {
            try {
              if (
                this.form.transaction_type.toLowerCase() == "others" ||
                this.form.transaction_type.toLowerCase() == "unahco" ||
                this.form.transaction_type.toLowerCase() == "biotech farms"
              ) {
                if (!this.outboundBool && this.outboundCounter == 0) {
                  await this.saveWeight();
                  return;
                }
                if (!this.outboundBool && this.outboundCounter == 1) {
                  console.log("hide me");
                  this.$bvModal.hide("pin");
                  this.$bvModal.show("signature");
                  return;
                }
              }

              if (this.form.transaction_type.toLowerCase() == "delivery") {
                if (this.transactionStatus.toLowerCase() != "for outbound") {
                  await this.saveWeight();
                } else {
                  this.$bvModal.show("signature");
                }
              }

              this.pincode = null;
              this.$bvModal.hide("pin");
            } catch (e) {
              // console.log("Error: ", e);
              const err = JSON.parse(e.response.data.error);
              this.errorMsg = err.msg;
              this.showAlertErr();
            }
          }
        } else {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/check-pin`,
            data: {
              id: localStorage.id,
              pin: this.pincode,
              mode: localStorage.mode
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;

          if (res.status === 200) {
            if (
              this.form.transaction_type.toLowerCase() == "others" ||
              this.form.transaction_type.toLowerCase() == "unahco" ||
              this.form.transaction_type.toLowerCase() == "biotech farms"
            ) {
              if (this.weightStatus == "inbound") {
                await this.saveWeight();
                return;
              }
              if (this.weightStatus == "outbound") {
                console.log("hide me");
                this.$bvModal.hide("pin");
                this.$bvModal.show("signature");
                return;
              }
            }
            this.pincode = null;
            this.$bvModal.hide("pin");
          }
        }
      } catch (er) {
        this.showLoading = false;
        this.pinError = er.response.data.error;
        setTimeout(() => {
          this.pinError = null;
        }, 2000);
      }
    },
    async addSignature() {
      this.showLoading = true;

      const employeeId = localStorage.id;

      function srcToFile(src, fileName, mimeType) {
        return fetch(src)
          .then(function(res) {
            return res.arrayBuffer();
          })
          .then(function(buf) {
            return new File([buf], fileName, { type: mimeType });
          });
      }

      const data = this.$refs.signaturePad.saveSignature();

      if (data.data) {
        const image = new Image();
        image.src = data.data;

        // const fileName =
        //   moment().format("YYYY-MM-DD_HHmmss") + "_" + employeeId;

        const time = moment().format("YYYY-MM-DD_HHmmss");
        const fileName = `${time}-${employeeId}.png`;
        const url = this.$axios.defaults.baseURL;
        const path = await srcToFile(image.src, fileName, "image/png").then(
          async function(file) {
            var fd = new FormData();
            fd.append("image", file, file.name);
            fd.append("mode", localStorage.mode);

            let res;

            if (localStorage.mode == 1) {
              res = await axios.post(`${url}/files/uploads`, fd, {
                headers: { Authorization: `B1SESSION=${localStorage.session}` }
              });
            } else {
              res = await axios.post(`${url}/files/uploads`, fd, {
                headers: { authorization: "Bearer " + localStorage.session }
              });
            }

            const path = res.data.imagePath;

            return path;
          }
        );

        this.signaturePath = path;
        this.showLoading = false;

        await this.saveWeight();
      } else {
        this.showLoading = false;
        this.errorMsg = "Please draw your signature.";
        this.showAlertErr();
      }
    },
    closeSignatureModal() {
      if (this.transactionStatus.toLowerCase() == "for inbound") {
        this.onOffReceiveInbound();
        this.pincode = null;
        this.$bvModal.hide("signature");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "for outbound") {
        this.onOffReceiveOutbound();
        this.pincode = null;
        this.$bvModal.hide("signature");
        return;
      }
      if (this.transactionStatus.toLowerCase() == "pending") {
        // if (this.inboundBool == false && this.inboundCounter == 1) {
        //   this.onOffReceiveInbound();
        //   this.pincode = null;
        //   this.$bvModal.hide("signature");
        //   return;
        // }
        // if (this.outboundBool == false && this.outboundCounter == 1) {
        //   this.onOffReceiveOutbound();
        //   this.pincode = null;
        //   this.$bvModal.hide("signature");
        //   return;
        // }

        this.pincode = null;
        this.$bvModal.hide("signature");
        return;
      }
    },
    clear() {
      this.$refs.signaturePad.undoSignature();
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    unachoOrNot(str) {
      // check if transaction is unacho or not
      let bool = false;

      const s = str.split("-");

      const businessEntity = s[0];

      if (businessEntity.toLowerCase() == "unc") {
        bool = true;
      }
      return bool;
    },
    async printWeightSlip() {
      try {
        this.showLoading = true;

        const data = {
          ticket_number: this.$route.params.id,
          customer: this.form.supplier_name
            ? this.convertCase(this.form.supplier_name)
            : "",
          address: this.form.supplier_add
            ? this.convertCase(this.form.supplier_add)
            : "",
          commodity: this.form.raw_material
            ? this.convertCase(this.form.raw_material)
            : "",
          plate_number: this.form.plate_number
            ? this.form.plate_number.toUpperCase()
            : "",
          driver: this.form.driver_name
            ? this.convertCase(this.form.driver_name)
            : "",
          number_of_bags: this.form.numBags,
          inbound_weight: this.inboundValue,
          inbound_date: this.form.ibdate,
          outbound_weight: this.outboundValue,
          outbound_date: this.form.obdate,
          remarks: this.offlineModeData.remarks
            ? this.offlineModeData.remarks
            : "",
          net_weight: this.netWeight,
          signature: this.form.obSign,
          weigher: this.form.weigher,
          transaction_type: this.form.transaction_type,
          location: "",
          print_count: this.print_count
        };

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/print`,
          data: {
            ...data,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            printed_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        await this.waiter();
      } catch (e) {
        this.showLoading = false;
        console.log(e.response.data.error);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async waiter() {
      this.showLoading = true;

      await setTimeout(() => {
        this.showLoading = false;
      }, 5000);
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;

      // this.$router.push("/transaction");
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    async getTransaction() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: this.$route.params.id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          if (res.status == 200) {
            // transaction details
            // format delivery
            if (res.data.view.transactionType) {
              const transactionType = res.data.view.transactionType;
              const tType = transactionType.toLowerCase();
              const status = res.data.view.transactionDetails.U_TS_STATUS.toLowerCase();
              this.transactionStatus = this.convertCase(status);

              if (tType == "delivery") {
                if (status == "completed") {
                  // nothing; coz change status to outbound when re-scan
                  this.$router.push(`/transaction`);
                } else {
                  // inbound or outbound

                  if (res.data.view.supplierDetails) {
                    const supplierInfo = res.data.view.supplierDetails;

                    this.form.supplier_name = supplierInfo.name;
                    this.form.supplier_add = supplierInfo.address;
                  }
                  if (res.data.view.items) {
                    const items = res.data.view.items;

                    this.form.raw_material = items;
                  }
                  this.form.transaction_type = this.convertCase(tType);
                  const truckInfo = res.data.view.truckInfoDetails[0];
                  const driverInfo = res.data.view.driverDetails[0];

                  this.form.plate_number = truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase();

                  this.form.truck_model = this.convertCase(
                    truckInfo.U_BFI_TS_TRTYPE.U_TS_TRMODEL
                  );
                  this.form.driver_name = this.convertCase(
                    `${driverInfo.U_TS_FN} ${driverInfo.U_TS_LN}`
                  );

                  this.drivers_id = driverInfo.Code;

                  this.truck_info_id = truckInfo.U_BFI_TS_TRINFO.Code;

                  // inbound details
                  const ib = res.data.view.inboundDetails[0];

                  // outbound details
                  const ob = res.data.view.outboundDetails[0];
                  // ##

                  this.inboundWeightType = this.convertCase(ib.U_TS_WEIGHT);
                  this.outboundWeightType = this.convertCase(ob.U_TS_WEIGHT);

                  const inbound =
                    res.data.view.transactionDetails.BFI_TS_IBTRNCollection;

                  const outbound =
                    res.data.view.transactionDetails.BFI_TS_OBTRNCollection;

                  const ib_data = inbound[inbound.length - 1];
                  const ob_data = outbound[outbound.length - 1];

                  this.inboundValue = this.commaSeparate(
                    ib_data.U_TS_IB_WEIGHT
                  );
                  this.outboundValue = this.commaSeparate(
                    ob_data.U_TS_OB_WEIGHT
                  );

                  this.showLoading = false;
                }
              }

              return;
            }

            // others
            const data = res.data.view.transactionDetails.value[0];

            const transactionType = data.U_BFI_TS_TRNSTYPE.U_TS_TRNSTYPE;
            const tType = transactionType.toLowerCase();

            // save tracking code; to determine if unacho or not
            this.trackingCode = data.BFITSUDO001.U_TS_TRCK_CODE;

            this.transactionStatus = this.convertCase(
              data.BFITSUDO001.U_TS_STATUS
            );
            const status = this.transactionStatus.toLowerCase();

            // change text of save button depends on status
            if (status == "completed") {
              this.saveButton = "Print Weight Slip";
            }

            if (
              tType == "others" ||
              tType == "unahco" ||
              tType == "biotech farms"
            ) {
              this.form.supplier_name = null;
              this.form.supplier_add = null;

              this.form.transaction_type = this.convertCase(tType);
              this.form.raw_material = null;
              this.form.numBags = data.BFITSUDO001.U_TS_NUM_BAGS
                ? data.BFITSUDO001.U_TS_NUM_BAGS
                : 0;

              this.form.ibdate =
                data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_UPDATEDATE;
              this.form.obdate =
                data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_UPDATEDATE;

              this.form.weigher = res.data.view.weigher;

              this.form.obSign =
                data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_OB_SIGN;
            }

            const truckInfo = res.data.view.truckInfoDetails[0];
            const driverInfo = res.data.view.driverDetails[0];

            this.form.plate_number = truckInfo.U_BFI_TS_TRINFO.U_TS_PLATE_NUM.toUpperCase();

            this.form.truck_model = this.convertCase(
              truckInfo.U_BFI_TS_TRTYPE.U_TS_TRMODEL
            );
            this.form.driver_name = this.convertCase(
              `${driverInfo.U_TS_FN} ${driverInfo.U_TS_LN}`
            );

            this.drivers_id = driverInfo.Code;

            this.truck_info_id = truckInfo.U_BFI_TS_TRINFO.Code;

            // inbound details
            const ib = res.data.view.inboundDetails[0];

            // outbound details
            const ob = res.data.view.outboundDetails[0];
            // ##

            this.inboundWeightType = this.convertCase(ib.U_TS_WEIGHT);
            this.outboundWeightType = this.convertCase(ob.U_TS_WEIGHT);

            // weights

            this.inboundValue = this.commaSeparate(
              data["BFITSUDO001/BFI_TS_IBTRNCollection"].U_TS_IB_WEIGHT
            );

            this.outboundValue = this.commaSeparate(
              data["BFITSUDO001/BFI_TS_OBTRNCollection"].U_TS_OB_WEIGHT
            );
          }

          this.showLoading = false;
        } else {
          // offline mode

          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: this.$route.params.id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;

          if (res.status === 200) {
            if (!res.data.view) {
              await this.$router.push(`/transaction`);
            }

            this.offlineModeData = { ...res.data.view };

            this.print_count = this.offlineModeData.print_count;
            this.remarks = this.offlineModeData.pre_remarks;

            this.sub_type = this.offlineModeData.transaction_sub_type
              ? this.convertCase(this.offlineModeData.transaction_sub_type)
              : null;

            this.trackingCode = null;
            this.transactionStatus = this.convertCase(
              this.offlineModeData.transaction_status
            );

            this.form.supplier_name = this.offlineModeData.supplier_name;

            //todos IMPORTANT***
            this.form.supplier_add = this.offlineModeData.supplier_address;

            this.form.transaction_type = this.convertCase(
              this.offlineModeData.transction_type
            );
            this.form.raw_material = this.offlineModeData.item;

            // this.form.numBags = data.BFITSUDO001.U_TS_NUM_BAGS
            //   ? data.BFITSUDO001.U_TS_NUM_BAGS
            //   : 0;
            this.form.numBags = `${
              this.offlineModeData.number_of_bags
                ? this.offlineModeData.number_of_bags
                : ""
            } ${
              this.offlineModeData.unit_of_measure
                ? this.convertCase(this.offlineModeData.unit_of_measure)
                : ""
            }`;

            this.form.ibdate = moment(
              this.offlineModeData.inbound_date_weight
            ).format("MMM DD, YYYY hh:mm A");
            this.form.obdate = moment(
              this.offlineModeData.outbound_date_weight
            ).format("MMM DD, YYYY hh:mm A");

            // this.form.weigher = res.data.view.weigher;
            this.form.weigher = this.offlineModeData.weigher_name;

            this.form.obSign = this.offlineModeData.outbound_signature;

            this.form.plate_number = this.offlineModeData.plate_number;

            this.form.truck_model = this.convertCase(
              this.offlineModeData.truck_model
                ? this.offlineModeData.truck_model
                : ""
            );
            this.form.driver_name = this.convertCase(
              this.offlineModeData.driver_name
            );

            this.inboundWeightType = this.convertCase(
              this.offlineModeData.inbound_transaction_weight_type
            );
            this.outboundWeightType = this.convertCase(
              this.offlineModeData.outbound_transaction_weight_type
            );

            // weights

            this.inboundValue = this.commaSeparate(
              this.offlineModeData.inbound_weight
            );

            this.outboundValue = this.commaSeparate(
              this.offlineModeData.outbound_weight
            );

            if (this.transactionStatus.toLowerCase() == "completed") {
              this.saveButton = "Print Weight Slip";
            }
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          this.showLoading = false;
        }
      }
    },
    // save inbound; for others
    async saveInbound() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // determine if unacho or not
          let bool = false;

          if (this.trackingCode) {
            bool = this.unachoOrNot(this.trackingCode);
          }

          const data = {
            id: this.$route.params.id,
            ib_weight: this.commaSeparateToNum(this.inboundValue),
            updated_date: date,
            updated_time: time,
            unacho: bool
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;

          const status = res.status;
          if (status == 201) {
            if (this.transactionStatus.toLowerCase() == "for inbound") {
              this.$router.push("/default");
              return;
            }
            this.pincode = null;
            this.$bvModal.hide("pin");
            this.getTransaction();
            this.inboundBool = false;
            this.inboundCounter = 0;
            this.outboundBool = true;
          }
        } else {
          this.showLoading = true;

          const data = {
            transaction_id: this.$route.params.id,
            id: this.offlineModeData.inbound_transaction_id,
            ib_weight: this.commaSeparateToNum(this.inboundValue),
            created_by: localStorage.id,
            truckscale_id: localStorage.truckscale,
            remarks: this.remarks
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;

          if (res.status == 201) {
            // this.pincode = null;
            // this.$bvModal.hide("pin");
            // this.getTransaction();
            // this.inboundBool = false;
            // this.inboundCounter = 0;
            // this.outboundBool = true;

            window.location.href = `/transaction`;
          }
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
        console.log("Error add inbound, others:", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // save outbound; for others
    async saveOutbound() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          // #  remarks: this.remarks ? add to UI
          const data = {
            id: this.$route.params.id,
            ob_weight: this.commaSeparateToNum(this.outboundValue),
            updated_date: date,
            updated_time: time,
            sign: this.signaturePath,
            remarks: this.remarks
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });
          this.showLoading = false;
          if (res.status == 201) {
            this.remarks = null;
            this.pincode = null;
            this.getTransaction();
          }
        } else {
          this.showLoading = true;

          const data = {
            transaction_id: this.$route.params.id,
            id: this.offlineModeData.outbound_transaction_id,
            ob_weight: this.commaSeparateToNum(this.outboundValue),
            created_by: localStorage.id,
            truckscale_id: localStorage.truckscale,
            sign: this.signaturePath,
            remarks: this.remarks,
            mainTransactionId: this.offlineModeData.transaction_id
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
            data: {
              ...data,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;

          if (res.status == 201) {
            this.$bvModal.hide("signature");
            this.weightStatus = null;
            this.remarks = null;
            this.pincode = null;
            this.getTransaction();
          }
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();

        console.log("Error save outbound others: ", e);
      }
    },
    async getTruckInfos() {
      // plateNumberList
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.plateNumberList.push({
              value: e.U_BFI_TS_TRINFO.Code,
              text: e.U_BFI_TS_TRINFO.U_TS_PLATE_NUM
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                this.plateNumberList.push({
                  value: res.data.view[i].truckinfo_id,
                  text: res.data.view[i].plate_number
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get truck info: ", e);
      }
    },

    async getDrivers() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            let name = `${e.U_TS_FN} ${e.U_TS_LN}`;
            this.driverList.push({
              value: e.Code,
              text: name
            });
          }
        } else {
          axios({
            method: "GET",
            url: `${this.$axios.defaults.baseURL}/drivers/select`,
            headers: {
              authorization: "Bearer " + localStorage.token
            }
          })
            .then(res => {
              for (let i = 0; i < res.data.view.length; i++) {
                let name = `${res.data.view[i].firstname} ${res.data.view[i].lastname}`;
                this.driverList.push({
                  value: res.data.view[i].id,
                  text: name
                });
              }
            })
            .catch(error => {});
        }
      } catch (e) {
        console.log("Error select drivers: ", e);
      }
    },

    async saveWeight() {
      try {
        if (
          this.form.transaction_type.toLowerCase() == "others" ||
          this.form.transaction_type.toLowerCase() == "unahco" ||
          this.form.transaction_type.toLowerCase() == "biotech farms"
        ) {
          if (this.transactionStatus.toLowerCase() !== "completed") {
            if (this.weightStatus == "inbound") {
              // this.$bvModal.hide("signature");
              await this.saveInbound();
              return;
            }
            if (this.weightStatus == "outbound") {
              // this.$bvModal.hide("signature");
              this.outboundBool = false;
              await this.saveOutbound();
              return;
            }
          }
        } else {
          //
          this.showLoading = true;
          const d = new Date().toDateString();
          const t = new Date().toTimeString();
          const date = moment(d).format("YYYY-MM-DD");
          const time = await this.fixTime(t);

          if (this.inboundBool == false && this.inboundCounter == 1) {
            const data = {
              id: this.$route.params.id,
              ib_weight: this.commaSeparateToNum(this.inboundValue),
              updated_date: date,
              updated_time: time,
              truckscale_id: localStorage.truckscale,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
              // sign: this.signaturePath
            };

            const res = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/inbound/add`,
              data: {
                ...data
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });

            if (res.status == 201) {
              this.$router.push(`/default`);
            }
          }

          if (this.outboundBool == false && this.outboundCounter == 1) {
            const data = {
              id: this.$route.params.id,
              ob_weight: this.commaSeparateToNum(this.outboundValue),
              updated_date: date,
              updated_time: time,
              truckscale_id: localStorage.truckscale,
              remarks: this.remarks,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              sign: this.signaturePath
            };

            const res = await axios({
              method: "POST",
              url: `${this.$axios.defaults.baseURL}/transactions/outbound/add`,
              data: {
                ...data
              },
              headers: {
                authorization: `B1SESSION=${localStorage.session}`
              }
            });

            if (res.status == 201) {
              this.$router.push(`/default`);
            }
          }
          this.showLoading = false;
          return;
        }
      } catch (e) {
        this.showLoading = false;
        const err = JSON.parse(e.response.data.error);
        if (err.code == 1) {
          this.errorMsg = err.msg;
          this.showAlertErr();
        }
      }
    },
    // COM PORT
    // get com port
    async getCOMport() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/ports/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: `B1SESSION=${localStorage.session}`
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;
        this.port = res.data[0].port[0]; // should be only one com port. it will error if many

        await this.getDataFromCOMPort(); // get data from com port
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    // get data from com port
    async getDataFromCOMPort() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/ports/receive`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            comPort: this.port,
            mode: localStorage.mode
          }
        });
        this.showLoading = false;

        if (!this.socket) {
          this.socket = io.connect(this.$axios.defaults.baseURL);
        } //connect to server
        this.socket.on("num", data => {
          this.displayData(data);
        });
      } catch (e) {
        console.log(e);
      }
    },

    // display data from com port
    async displayData(val) {
      try {
        const data = val.num;
        this.weightValues = data.match(/[+-]?\d+(?:\.\d+)?/g); //extract only numbers from garbage string
        // console.log(this.weightValues[0]);
        // to display
        if (this.inboundBool === true) {
          this.inboundValue = this.commaSeparate(this.weightValues[0]);
          return;
        }
        if (this.outboundBool === true) {
          this.outboundValue = this.commaSeparate(this.weightValues[0]);
          return;
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    // determine transaction; to which data to stream serial data
    async determineTransaction() {
      try {
        if (this.inboundValue === 0 || this.inboundValue === null) {
          this.weightStatus = "inbound";
          this.inboundBool = true;
          // this.inboundValue = this.commaSeparate((15800).toFixed(2));
          return;
        }
        if (this.outboundValue === 0 || this.outboundValue === null) {
          this.weightStatus = "outbound";
          this.outboundBool = true;
          // this.outboundValue = this.commaSeparate((6380).toFixed(2));
          return;
        }
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    commaSeparateToNum(num) {
      if (num) {
        return parseFloat(num.replace(/,/g, ""));
      } else {
        return 0;
      }
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.pinError {
  margin: 0;
  text-align: left;
  color: red;
}
.container1 {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  z-index: 999999;
  bottom: 0%;
  right: 2%;
}
.digital {
  font-size: 250%;
  font-family: "digital-7";
  src: url("/static/digital-7.ttf");
}
.err {
  background-color: #f12d2d;
  color: white;
}
.button1 {
  background-color: #00803e;
  color: white;
}
</style>
