<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">Requests</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-alert
        id="alertdanger"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert>

      <b-alert
        id="alertsuccess"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert>

      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="2"></b-col>
      </b-row>

      <!-- Main table element -->
      <div>
        <b-table
          id="table"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template v-slot:cell(status)="row">
            <div class="badge-font-size" v-if="row.item.status.toLowerCase() == 'approved'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:green"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-else-if="row.item.status.toLowerCase() == 'disapproved'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:#B22222"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-else-if="row.item.status.toLowerCase() == 'pending'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:orange;color:black"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-else-if="row.item.status.toLowerCase() == 'validated'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:blue;"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-else-if="row.item.status.toLowerCase() == 'cancelled'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:#ed3502;"
              >{{ row.item.status }}</b-badge>
            </div>
          </template>

          <template v-slot:cell(actions)="row">
            <div
              v-if="row.item.status.toLowerCase() == 'pending' || row.item.status.toLowerCase() == 'validated'"
            >
              <b-button
                v-if="accessRightExists('validate request') && row.item.status.toLowerCase() != 'validated' && row.item.requester_id != user_id"
                class="button1"
                size="sm"
                @click="openValidateModal(row)"
              >Validate</b-button>

              <b-button
                v-if="accessRightExists('approve request') && row.item.requester_id != user_id"
                class="button1"
                size="sm"
                @click="openApproveModal(row)"
              >Approve</b-button>

              <b-button
                v-if="accessRightExists('disapprove request') && row.item.requester_id != user_id"
                class="button1"
                size="sm"
                @click="openDisapproveModal(row)"
              >Disapprove</b-button>

              <b-button
                v-if="accessRightExists('cancel request') && row.item.status.toLowerCase() == 'pending' && row.item.requester_id == user_id"
                class="button1"
                size="sm"
                @click="openCancelModal(row)"
              >Cancel</b-button>
            </div>
          </template>

          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-approve-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Approve Request</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to approve this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="approveRequest"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-approve-edit-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Approve Request</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to approve this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="editApproveRequest"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-disapprove-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Disapprove Request</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to disapprove this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="disapproveRequest"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-cancel-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Cancel Request</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to cancel this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="cancelRequest"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-validate-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Validate Request</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to validate this request?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="validateRequest"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>

      <b-modal
        ref="editApproveModal"
        id="editApproveModal"
        hide-footer
        hide-header-close
        no-close-on-backdrop
        size="xl"
      >
        <template v-slot:modal-title>APPROVE EDIT REQUEST</template>
        <div class="d-block text-center">
          <div>
            <b-row>
              <b-col>
                <b-card class="text-left" style="border-left: 6px solid #00A651">
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">Current Value</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayCurrent"
                      :key="index"
                      style="border-radius: 0px;padding-left:1rem; background-color: #fff"
                      class="mb-2"
                    >
                      <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />

                      <span style="background-color: white" class="px-2">
                        <b>{{data.label}}</b>
                        {{data.value}}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>

              <b-col>
                <b-card class="text-left" style="border-left: 6px solid #00A651">
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">New Value</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayNew"
                      :key="index"
                      style="border-radius: 0px;padding-left:1rem; background-color: #fff"
                      class="mb-2"
                    >
                      <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />

                      <span :style="getCss(index)" class="px-2">
                        <b>{{data.label}}</b>
                        {{data.value}}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>
            </b-row>
            <hr />
            <b-button
              id="btnEditReport"
              @click="$bvModal.show('confirm-approve-edit-modal')"
              class="ml-10 button1"
            >Confirm</b-button>
            <b-button
              id="btnEditReport"
              class="ml-10"
              @click="$bvModal.hide('editApproveModal')"
            >Cancel</b-button>
          </div>
        </div>
      </b-modal>

      <b-modal
        ref="validateModal"
        id="validateModal"
        hide-footer
        hide-header-close
        no-close-on-backdrop
        size="xl"
      >
        <template v-slot:modal-title>VALIDATE REQUEST</template>
        <div class="d-block text-center">
          <div>
            <b-row>
              <b-col>
                <b-card class="text-left" style="border-left: 6px solid #00A651">
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">Current Value</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayCurrent"
                      :key="index"
                      style="border-radius: 0px;padding-left:1rem; background-color: #fff"
                      class="mb-2"
                    >
                      <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />

                      <span style="background-color: white" class="px-2">
                        <b>{{data.label}}</b>
                        {{data.value}}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>

              <b-col>
                <b-card class="text-left" style="border-left: 6px solid #00A651">
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">New Value</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li
                      v-for="(data, index) in displayNew"
                      :key="index"
                      style="border-radius: 0px;padding-left:1rem; background-color: #fff"
                      class="mb-2"
                    >
                      <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />

                      <span :style="getCss(index)" class="px-2">
                        <b>{{data.label}}</b>
                        {{data.value}}
                      </span>
                    </li>
                  </ul>
                </b-card>
              </b-col>
            </b-row>
            <hr />
            <b-button
              id="btnEditReport"
              @click="$bvModal.show('confirm-validate-modal')"
              class="ml-10 button1"
            >Confirm</b-button>
            <b-button
              id="btnEditReport"
              class="ml-10"
              @click="$bvModal.hide('validateModal')"
            >Cancel</b-button>
          </div>
        </div>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import moment, { version } from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: { DateRangePicker, Loading, VueBootstrapTypeahead },

  async created() {
    this.user_id = localStorage.id;
    await this.getUoms();
    await this.getDrivers();
    await this.getPlateNumbers();
    await this.getSuppliers();
    await this.getItems();
    await this.getRequests();

    this.totalRows = this.items.length;
  },

  data() {
    return {
      user_id: null,

      displayCurrent: [],

      displayNew: [],

      text_area_max_length: 300,

      draftData: {
        plate_number: null,
        driver: null,
        supplier: null,
        supplier_address: null,
        item: null,
        quantity: null,
        id: null,
        unit_of_measure: null,
        remarks: null,
      },

      editApproveModalData: {
        plate_number: null,
        driver: null,
        supplier: null,
        supplier_address: null,
        item: null,
        quantity: null,
        id: null,
        unit_of_measure: null,
        remarks: null,
      },

      uomOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      supplierOptions: [],
      itemOptions: [],

      showLoading: false,
      opens: "center",
      currentPage: 1,
      settings: [],
      transaction_types: [],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY"),
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD"),
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - ",
      },

      items: [],

      fields: [
        {
          key: "requester_name",
          label: "Requester",
          sortable: true,
        },
        {
          key: "ticket_no",
          label: "Ticket Number",
          sortable: true,
          class: "text-center",
        },
        {
          key: "request_type",
          label: "Type",
          sortable: true,
          class: "text-center",
        },
        {
          key: "request_reason",
          label: "Reason",
          sortable: true,
          class: "text-center",
        },
        {
          key: "print_count",
          label: "Additional Print",
          sortable: true,
          class: "text-center",
        },
        {
          key: "date_requested",
          label: "Date Requested",
          sortable: true,
          class: "text-center",
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center",
        },
        {
          key: "actions",
          label: "Actions",
          sortable: true,
          class: "text-center",
        },
      ],
      perPage: 10,
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],

      approveData: null,
      disapproveData: null,
      validateData: null,
      cancelData: null,

      dismissCountDownErr: 0,
      errorMsg: null,

      dismissCountDown: 0,
      successMsg: null,

      dismissSecs: 3,
    };
  },
  watch: {
    async reloadData() {
      await this.getRequests();
    },
  },
  computed: {
    reloadData() {
      return this.$store.getters["getData"];
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  mounted() {},
  methods: {
    async openValidateModal(row) {
      try {
        const data = row.item;

        this.validateData = row.item;

        this.displayCurrent = [];
        this.displayNew = [];

        if (data.is_edit) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: data.ticket_no,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
            },
            headers: {
              authorization: "Bearer " + localStorage.session,
            },
          });
          this.showLoading = false;

          const v = res.data.view;

          this.$bvModal.show("validateModal");

          const driver_name = `${v.driver_last_name}, ${v.driver_first_name}`;

          const currentUom = await this.uomOptions.find(
            (uom) => uom.value == v.uom_id
          ).text;

          this.displayCurrent.push({
            label: "Plate Number:",
            value: v.plate_number,
          });
          this.displayCurrent.push({
            label: "Driver:",
            value: this.convertCase(driver_name),
          });
          this.displayCurrent.push({
            label: "Supplier:",
            value: v.supplier_name,
          });
          this.displayCurrent.push({
            label: "Supplier Address:",
            value: v.supplier_address,
          });
          this.displayCurrent.push({ label: "Item:", value: v.item });
          this.displayCurrent.push({
            label: "Unit Of Measure:",
            value: this.convertCase(currentUom),
          });
          this.displayCurrent.push({
            label: "Quantity:",
            value: v.number_of_bags,
          });
          this.displayCurrent.push({ label: "Remarks:", value: v.remarks });

          this.draftData = data.draft_data;

          const newUom = await this.uomOptions.find(
            (uom) => uom.value == this.draftData.unit_of_measure
          ).text;

          this.displayNew.push({
            label: "Plate Number:",
            value: this.draftData.plate_number,
          });
          this.displayNew.push({
            label: "Driver:",
            value: this.convertCase(this.draftData.driver),
          });
          this.displayNew.push({
            label: "Supplier:",
            value: this.draftData.supplier,
          });
          this.displayNew.push({
            label: "Supplier Address:",
            value: this.draftData.supplier_address,
          });
          this.displayNew.push({ label: "Item:", value: this.draftData.item });
          this.displayNew.push({
            label: "Unit Of Measure:",
            value: this.convertCase(newUom),
          });
          this.displayNew.push({
            label: "Quantity:",
            value: this.draftData.quantity,
          });
          this.displayNew.push({
            label: "Remarks:",
            value: this.draftData.remarks,
          });
        } else {
          this.$bvModal.show("confirm-validate-modal");
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    getCss(index) {
      if (this.displayCurrent[index].value == this.displayNew[index].value) {
        return "background-color: white";
      } else {
        return "background-color: yellow";
      }
    },

    async getItems() {
      this.showLoading = true;
      this.itemOptions = [];
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/items/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session,
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
        },
      });
      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.itemOptions.push(e.name);
        }
      }
    },

    async getSuppliers() {
      this.showLoading = true;
      this.supplierOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/suppliers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session,
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
        },
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.supplierOptions.push(e.name);
        }
      }
    },

    async getPlateNumbers() {
      this.showLoading = true;
      this.plateNumberOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session,
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
        },
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.plateNumberOptions.push(e.plate_number.toUpperCase());
        }
      }
    },

    async getDrivers() {
      this.showLoading = true;
      this.driverOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/drivers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session,
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
        },
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;

        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          const name = this.convertCase(`${e.last_name}, ${e.first_name}`);

          this.driverOptions.push(name);
        }
      }
    },
    async getUoms() {
      try {
        this.showLoading = true;

        this.uomOptions = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session,
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
          },
        });

        const v = res.data.view;

        if (res.status == 200) {
          for (let i = 0; i < v.length; i++) {
            if (v[i].is_active) {
              this.uomOptions.push({
                value: v[i].id,
                text: this.convertCase(v[i].name),
              });
            }
          }
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    async editApproveRequest() {
      try {
        this.showLoading = true;

        const editReportPayload = {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
          driver_id: this.draftData.driver,
          truck_info_id: this.draftData.plate_number,
          supplier: this.draftData.supplier,
          number_of_bags: this.draftData.quantity,
          item: this.draftData.item,
          updated_by: localStorage.id,
          supplier_address: this.draftData.supplier_address,
          uom_id: this.draftData.unit_of_measure,
          remarks: this.draftData.remarks,
        };

        const resEdit = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/reports/edit/${this.draftData.id}`,
          data: {
            ...editReportPayload,
          },
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
        });

        if (resEdit.status == 200) {
          const resApprove = await axios({
            method: "PUT",
            url: `${this.$axios.defaults.baseURL}/requests/approve/${this.approveData.id}`,
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
              ...this.approveData,
              updated_by: localStorage.id,
            },
            headers: {
              authorization: "Bearer " + localStorage.session,
            },
          });

          if (resApprove.status == 200) {
            await this.getUoms();
            await this.getDrivers();
            await this.getPlateNumbers();
            await this.getSuppliers();
            await this.getItems();
            await this.getRequests();
            this.successMsg = "Approved request successfully.";
            this.showAlert();
            this.$bvModal.hide("editApproveModal");
            this.$bvModal.hide("confirm-approve-edit-modal");
          }
        }

        this.showLoading = false;
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async approveRequest() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/requests/approve/${this.approveData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.approveData,
            updated_by: localStorage.id,
          },
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
        });

        this.showLoading = false;

        if (res.status == 200) {
          await this.getRequests();
          this.successMsg = "Approved request successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-approve-modal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async disapproveRequest() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/requests/disapprove/${this.disapproveData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.disapproveData,
            updated_by: localStorage.id,
          },
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
        });

        this.showLoading = false;
        if (res.status == 200) {
          await this.getRequests();
          this.successMsg = "Disapproved request successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-disapprove-modal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async cancelRequest() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/requests/cancel/${this.cancelData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.cancelData,
            updated_by: localStorage.id,
          },
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
        });

        this.showLoading = false;

        if (res.status == 200) {
          await this.getRequests();
          this.successMsg = "Cancelled request successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-cancel-modal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async validateRequest() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/requests/validate/${this.validateData.id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.validateData,
            updated_by: localStorage.id,
          },
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
        });

        this.showLoading = false;

        if (res.status == 200) {
          await this.getRequests();
          this.successMsg = "Validated request successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-validate-modal");
          this.$bvModal.hide("validateModal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    cancel() {
      this.approveData = null;
      this.disapproveData = null;

      this.$bvModal.hide("confirm-approve-modal");
      this.$bvModal.hide("confirm-disapprove-modal");
      this.$bvModal.hide("confirm-approve-edit-modal");
      this.$bvModal.hide("confirm-validate-modal");
      this.$bvModal.hide("confirm-cancel-modal");
    },

    async openApproveModal(row) {
      try {
        const data = row.item;
        this.displayCurrent = [];
        this.displayNew = [];

        if (data.is_edit) {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/select`,
            data: {
              id: data.ticket_no,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules),
            },
            headers: {
              authorization: "Bearer " + localStorage.session,
            },
          });
          this.showLoading = false;

          const v = res.data.view;

          this.$bvModal.show("editApproveModal");

          const driver_name = `${v.driver_last_name}, ${v.driver_first_name}`;

          this.editApproveModalData.plate_number = v.plate_number;
          this.editApproveModalData.driver = driver_name;
          this.editApproveModalData.supplier = v.supplier_name;
          this.editApproveModalData.supplier_address = v.supplier_address;
          this.editApproveModalData.item = v.item;
          this.editApproveModalData.quantity = v.number_of_bags;
          this.editApproveModalData.id = v.transaction_id;
          this.editApproveModalData.unit_of_measure = v.uom_id;
          this.editApproveModalData.remarks = v.remarks;

          const currentUom = await this.uomOptions.find(
            (uom) => uom.value == v.uom_id
          ).text;

          this.displayCurrent.push({
            label: "Plate Number:",
            value: v.plate_number,
          });
          this.displayCurrent.push({
            label: "Driver:",
            value: this.convertCase(driver_name),
          });
          this.displayCurrent.push({
            label: "Supplier:",
            value: v.supplier_name,
          });
          this.displayCurrent.push({
            label: "Supplier Address:",
            value: v.supplier_address,
          });
          this.displayCurrent.push({ label: "Item:", value: v.item });
          this.displayCurrent.push({
            label: "Unit Of Measure:",
            value: this.convertCase(currentUom),
          });
          this.displayCurrent.push({
            label: "Quantity:",
            value: v.number_of_bags,
          });
          this.displayCurrent.push({ label: "Remarks:", value: v.remarks });

          this.draftData = data.draft_data;

          const newUom = await this.uomOptions.find(
            (uom) => uom.value == this.draftData.unit_of_measure
          ).text;

          this.displayNew.push({
            label: "Plate Number:",
            value: this.draftData.plate_number,
          });
          this.displayNew.push({
            label: "Driver:",
            value: this.convertCase(this.draftData.driver),
          });
          this.displayNew.push({
            label: "Supplier:",
            value: this.draftData.supplier,
          });
          this.displayNew.push({
            label: "Supplier Address:",
            value: this.draftData.supplier_address,
          });
          this.displayNew.push({ label: "Item:", value: this.draftData.item });
          this.displayNew.push({
            label: "Unit Of Measure:",
            value: this.convertCase(newUom),
          });
          this.displayNew.push({
            label: "Quantity:",
            value: this.draftData.quantity,
          });
          this.displayNew.push({
            label: "Remarks:",
            value: this.draftData.remarks,
          });

          this.approveData = data;
        } else {
          this.approveData = data;
          this.$bvModal.show("confirm-approve-modal");
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    openCancelModal(row) {
      this.cancelData = row.item;
      this.$bvModal.show("confirm-cancel-modal");
    },

    openDisapproveModal(row) {
      this.disapproveData = row.item;

      this.$bvModal.show("confirm-disapprove-modal");
    },
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    async getRequests() {
      try {
        this.showLoading = true;
        this.items = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/requests/select`,
          headers: {
            authorization: "Bearer " + localStorage.session,
          },
          data: {
            from: this.dateRange.date_from,
            to: this.dateRange.date_to,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
          },
        });

        console.log(this.dateRange);

        this.showLoading = false;

        const v = res.data.view;

        for (let i = 0; i < v.length; i++) {
          let request_type;

          if (v[i].is_edit && v[i].is_reprint) {
            request_type = "Edit and Reprint";
          } else if (v[i].is_edit && !v[i].is_reprint) {
            request_type = "Edit";
          } else if (!v[i].is_edit && v[i].is_reprint) {
            request_type = "Reprint";
          }

          const draft_data = JSON.parse(v[i].draft_data);

          this.items.push({
            id: v[i].id,
            requester_name: v[i].requester_name,
            ticket_no: v[i].transaction_id,
            request_reason: v[i].request_reason,
            print_count: v[i].print_count,
            date_requested: this.formatDate(v[i].created_at),
            status: this.convertCase(v[i].status),
            request_type,
            is_edit: v[i].is_edit,
            draft_data,
            requester_id: v[i].created_by,
          });
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getRequests();

      this.totalRows = this.items.length;
    },
  },
};
</script>

<style>
.reportrange-text[data-v-1cd3ebdc] {
  /* background: #fff; */
  /* cursor: pointer; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 11rem;
  font-size: 12px;
}

body {
  background-color: white;
}

.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}

.err {
  background-color: #f12d2d;
  color: white;
  z-index: 999999;
}
</style>
