<template>
  <div class="my-3 ml-2" id="requests-view">
    <!-- loading overlay -->
    <Loading v-if="showLoading" />

    <!-- header -->
    <h4 class="color1 ml-4">Users</h4>

    <b-card class="my-4 mr-4 ml-4">
      <b-card-group deck>
        <div class="my-2 mr-4 ml-4" style="width:600px">
          <!-- table view -->
          <b-row>
            <b-col>
              <!-- search bar -->
              <b-form-group
                style="font-size:13px"
                label="Search"
                label-cols-sm="3"
                label-align-sm="left"
                label-size="sm"
                label-for="filterInput"
              >
                <b-input-group size="sm">
                  <b-form-input
                    style="font-size:13px"
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    label-align-sm="left"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button id="inputSearchClear" :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

            <b-table
              id="table"
              class="my-1"
              style="font-size:13px"
              show-empty
              small
              scrollable
              stacked="md"
              responsive
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
            >
              <template v-slot:cell(Actions)="row">
                <b-button
                  id="btnEditUser"
                  class="button1"
                  size="sm"
                  v-if="accessRightExists('edit user')"
                  @click="openModal(row)"
                >
                  <font-awesome-icon icon="edit" class="icon" />
                </b-button>
                <b-button
                  id="btnResetPw"
                  class="resetPw"
                  size="sm"
                  v-if="accessRightExists('reset user')"
                  @click="showYesNo(row)"
                >
                  <font-awesome-icon icon="redo" class="icon" />
                </b-button>
              </template>
              <template v-slot:table-caption>
                <b-row align-h="end">
                  <b-col cols="6">{{bottomLabel}}</b-col>

                  <!-- true -->
                  <b-col cols="6">
                    <b-pagination
                      id="pagination"
                      pills
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                      align="right"
                      aria-controls="maintable"
                      limit="3"
                      size="sm"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </template>
            </b-table>
          </b-row>
          <!-- end table view -->
        </div>

        <!-- add employee form -->
        <b-card style="height:30%">
          <b-card-text>
            <h5 class="color1">NEW USER</h5>
          </b-card-text>

          <hr />

          <!-- <b-form-group id="empId" label="Employee" label-for="input-2" style="font-size:13px">
            <b-row>
              <b-col cols="10">
                <b-form-input
                  style="font-size:13px"
                  id="EmployeeIdInput"
                  required
                  readonly
                  v-model="employeeName"
                  autocomplete="off"
                ></b-form-input>
              </b-col>
              <b-col cols="0.09">
                <b-button
                  class="button1"
                  small
                  style="font-size:13px"
                  @click="modalShow = true"
                >Select</b-button>
              </b-col>
            </b-row>
          </b-form-group>-->

          <b-form-group id="empId" label="Employee ID:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="empIdInput"
              autocomplete="off"
              v-model="empId"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="fname" label="First Name:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="FNameInput"
              autocomplete="off"
              v-model="firstname"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="mname" label="Middle Name:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="MNameInput"
              autocomplete="off"
              v-model="middlename"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="lname" label="Last Name:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="LNameInput"
              autocomplete="off"
              v-model="lastname"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="email" label="Email:" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              id="emailInput"
              autocomplete="off"
              v-model="email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="addRole" label="Role" label-for="input-2" style="font-size:13px">
            <b-form-select
              style="font-size:13px"
              id="RoleSelect"
              v-model="selectedRole"
              :options="roles"
              required
            ></b-form-select>
          </b-form-group>

          <br />
          <b-row align-h="end">
            <b-button
              @click="clearFields()"
              variant="danger"
              class="mr-2"
              style="font-size:13px"
            >Clear</b-button>
            <b-button
              v-if="accessRightExists('add user')"
              @click="addUser"
              class="button1 mr-3"
              style="font-size:13px"
            >Add</b-button>
          </b-row>
        </b-card>
        <!-- end employee form -->
      </b-card-group>
    </b-card>

    <!-- modal select employees -->
    <!-- end modal select employees -->

    <!-- update employee modal -->

    <b-modal v-model="updateModal" title="Update User" size="m">
      <b-container fluid>
        <b-form-group
          id="input-group-2"
          label="First Name:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="fname"
            v-model="userData.first_name"
            required
            placeholder="First Name"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          label="Middle Name:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="mname"
            v-model="userData.middle_name"
            required
            placeholder="Middle Name"
          ></b-form-input>
        </b-form-group>
        <b-form-group
          id="input-group-2"
          label="Last Name:"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            id="lname"
            v-model="userData.last_name"
            required
            placeholder="Last Name"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Email:" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="emailEdit"
            v-model="userData.email"
            required
            placeholder="Email"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Role:" label-for="input-2" style="font-size:13px">
          <b-form-select
            style="font-size:13px"
            id="roleEdit"
            v-model="userData.role"
            :options="roles"
            required
          ></b-form-select>
        </b-form-group>
      </b-container>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            id="btnCloseModal"
            @click="closeUpdateModal"
            variant="danger"
            class="mr-2"
            size="sm"
          >Close</b-button>
          <b-button
            id="btnUpdateModal"
            variant="primary"
            size="sm"
            class="button1"
            @click="updateEmployee"
          >Save</b-button>
        </div>
      </template>
    </b-modal>

    <!-- <b-modal
      v-model="updateModal"
      id="modal-xl"
      size="xl"
      title="UPDATE EMPLOYEE"
      no-close-on-backdrop
      hide-footer
      hide-header-close
    >
      
        <b-form-group id="empId" label="Employee" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="EmployeeIdInput"
            required
            readonly
            v-model="userData.fullname"
            autocomplete="off"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="empId" label="Employee ID:" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="empIdInput"
            autocomplete="off"
            v-model="userData.id"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="lname" label="Contact Number:" label-for="input-2" style="font-size:13px">
          <b-form-input
            style="font-size:13px"
            id="LNameInput"
            autocomplete="off"
            v-model="userData.contact"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="addRole" label="Role" label-for="input-2" style="font-size:13px">
          <b-form-select
            v-if="userData.role"
            style="font-size:13px"
            id="RoleSelect"
            v-model="userData.role.id"
            :options="roles"
            required
          ></b-form-select>
        </b-form-group>

        <b-row>
          <b-col>
            <b-form-group
              id="islicensed"
              label="Is Licensed"
              label-for="checkbox"
              style="font-size:13px"
            >
              <b-form-checkbox
                id="checkbox"
                v-model="userData.is_licensed"
                name="check-button"
                disabled
                switch
              >
                <b>{{ userData.is_licensed ? "Yes" : "No" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group
              id="userStatus"
              label="Status"
              label-for="checkbox"
              style="font-size:13px"
            >
              <b-form-checkbox
                id="userStatuscb"
                v-model="userData.status"
                name="check-button"
                switch
              >
                <b>{{ userData.status ? "Active" : "Inactive" }}</b>
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>

  
        <b-row align-h="start">
          <b-button
            @click="closeUpdateModal"
            variant="danger"
            class="mr-2"
            style="font-size:13px"
          >Close</b-button>
          <b-button @click="updateEmployee" class="button1 mr-3" style="font-size:13px">Update</b-button>
        </b-row>
    
      <hr />

 
      <b-alert
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
      >{{errorMsg}}</b-alert>
    </b-modal>-->
    <!-- end update employee modal -->

    <!-- yes no modal -->
    <b-modal
      ref="yes-no-modal"
      hide-footer
      no-close-on-backdrop
      centered
      title="WARNING!"
      variant="warning"
    >
      <div class="d-block">
        <h5>The employee's password and code will be reset, do you want to continue?</h5>
      </div>
      <hr />

      <b-button class="mt-3 float-right" variant="success" @click="resetPassword">YES</b-button>
      <b-button class="mt-3 mr-1 float-right" variant="danger" @click="hideYesNo">NO</b-button>
    </b-modal>
    <!-- end yes no modal -->

    <!-- messages -->
    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
    >{{successMsg}}</b-alert>
    <!-- error msg -->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{errorMsg}}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view users" }
  },
  layout: "sidebar",
  data() {
    return {
      email: null,
      firstname: null,
      lastname: null,
      middlename: null,
      resetPwCode: [],
      isLicensed: false,
      employeeName: null,
      filterEmp: null,
      modalShow: false,
      showLoading: false,
      filter: null,
      contactNumber: null,
      selectedRole: null,
      roles: [],
      employeeId: null, // when select employee
      empId: null, // form
      //   table model home view
      items: [],
      fields: [
        { key: "employee_id", label: "Employee ID", sortable: true },
        { key: "email", label: "Email", sortble: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "role_name", label: "Role", sortable: true },
        { key: "Actions", label: "Actions", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 5,
      filterOn: [],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      // totalRows: 1,
      //   til here table home models
      //   table modal view
      employees: [],
      fieldsEmp: [
        { key: "employee_id", label: "Employee Id", sortable: true },
        { key: "fullname", label: "Full Name", sortable: true },
        { key: "is_user", label: "Is Licensed", sortable: true }
      ],
      currentPages: 1,
      perPages: 10,
      // end table modal view
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      userIdUpdate: null,
      userData: {},
      updateModal: false
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    bottomLabels() {
      let end = this.perPages * this.currentPages;
      let start = end - this.perPages + 1;

      if (end > this.employees.length) {
        end = this.employees.length;
      }

      if (this.employees.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.employees.length} entries`;
    },

    totalRowss() {
      if (this.employees) {
        return this.employees.length;
      } else {
        return 0;
      }
    },

    rows() {
      if (this.filter) {
        const filteredItems = this.items.filter(
          item =>
            item.employee_id.includes(this.filter.toLowerCase()) ||
            item.first_name.toLowerCase().includes(this.filter.toLowerCase()) ||
            item.fullname.toLowerCase().includes(this.filter.toLowerCase()) ||
            item.role_name.toLowerCase().includes(this.filter.toLowerCase())
        );
        return filteredItems.length;
      } else {
        return this.items.length;
      }
    },

    sortOptions() {
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    sortOption() {
      return this.fieldsEmp
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  async created() {
    await this.getUsers();
    await this.getRoles();
  },
  methods: {
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    // show yes no modal
    showYesNo(row) {
      this.$refs["yes-no-modal"].show();
      this.resetPwCode = row;
    },
    // hide yes no modal
    hideYesNo() {
      this.$refs["yes-no-modal"].hide();
      this.resetPwCode = [];
    },
    // reset pw and pin
    async resetPassword() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          // online mode
          const row = this.resetPwCode;

          // primary key
          const id = row.item.id;

          // employee id
          const empId = row.item.employee_id;

          const data = {
            U_TS_PW: empId,
            U_TS_LOGIN_COUNT: "0",
            U_TS_PIN: null,
            mode: 1
          };

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/reset/${id}`,
            data: {
              ...data
            },
            headers: {
              authorization: `B1SESSION=${localStorage.session}`
            }
          });

          const status = res.data.patched.status;

          if (status == 204) {
            this.showLoading = false;
            this.hideYesNo();
            this.successMsg = "Password and code reset successfully.";
            this.showAlert();
          }
        } else {
          // offline mode

          this.showLoading = true;

          const id = this.resetPwCode.item.id;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/reset/${id}`,
            data: {
              employeeId: this.resetPwCode.item.employee_id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;
          const status = res.status;

          if (status == 200) {
            this.hideYesNo();
            this.successMsg = "Password and code reset successfully.";
            this.showAlert();
          }
        }
      } catch (e) {
        if (localStorage.mode == 1) {
          this.showLoading = false;
          this.hideYesNo();
          try {
            // JSON error
            const err = JSON.parse(e.response.data.error);
            this.errorMsg = err.msg;
            this.showAlertErr();
          } catch (er) {
            // not JSON
            this.errorMsg = e.response.data.error;
            this.showAlertErr();
          }
        } else {
          console.log("Error: ", e);
          this.errorMsg = e.response.data.error;
          this.showAlertErr();
        }
      }
    },
    async updateEmployee() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/update/${this.userData.employee_id}`,
          data: {
            ...this.userData,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          this.getUsers();
          this.closeUpdateModal();
          this.successMsg = res.data.patched.msg;
          this.showAlert();
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error: ", e);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },
    closeUpdateModal() {
      this.updateModal = false;
      this.userData = {};
    },
    async openModal(row) {
      try {
        this.userData = {
          employee_id: row.item.employee_id,
          first_name: row.item.first_name,
          middle_name: row.item.middle_name,
          last_name: row.item.last_name,
          email: row.item.email,
          role: row.item.role_id
        };

        this.updateModal = true;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    // messages
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getRoles() {
      try {
        this.showLoading = true;

        this.roles = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/roles/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });
        this.showLoading = false;

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < v.length; i++) {
            this.roles.push({
              value: v[i].id,
              text: this.convertCase(v[i].name)
            });
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error: ", e);
      }
    },
    clearFields() {
      this.email = null;
      this.employeeName = null;
      this.employeeId = null; //selected from table
      this.isLicensed = false;
      this.empId = null; // input
      this.contactNumber = null;
      this.selectedRole = null;
      (this.firstname = null), (this.lastname = null), (this.middlename = null);
    },
    async addUser() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/add`,
          data: {
            employee_id: this.empId,
            first_name: this.convertCase(this.firstname),
            middle_name: this.middlename
              ? this.convertCase(this.middlename)
              : this.middlename,
            last_name: this.convertCase(this.lastname),
            role: this.selectedRole,
            email: this.email,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            created_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        const status = res.status;

        if (status == 201) {
          this.successMsg = "Added user successfully.";
          this.getUsers();
          this.showAlert();
          this.clearFields();
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error: ", e);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    async getUsers() {
      try {
        this.items = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });
        this.showLoading = false;

        const v = res.data.view;

        console.log(v);
        for (let i = 0; i < v.length; i++) {
          this.items.push({
            id: v[i].id,
            employee_id: v[i].employee_id,
            fullname:
              v[i].last_name && v[i].first_name
                ? this.convertCase(`${v[i].last_name}, ${v[i].first_name}`)
                : "",
            role_name: v[i].role_name ? this.convertCase(v[i].role_name) : "",
            first_name: this.convertCase(v[i].first_name),
            last_name: this.convertCase(v[i].last_name),
            middle_name: v[i].middle_name
              ? this.convertCase(v[i].middle_name)
              : "",
            role_id: v[i].role_id,
            email: v[i].email
          });
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error select all employee: ", e);
      }
    },
    async getAllEmployees() {
      try {
        if (localStorage.mode == 1) {
          this.showLoading = true;
          this.employees = [];

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/users/select-employeeInfos`,
            headers: {
              "Content-Type": "application/json",
              "X-HTTP-Method-Override": "GET",
              authorization: `B1SESSION=${localStorage.session}`
            },
            data: {
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            }
          });
          this.showLoading = false;

          if (res.status == 200) {
            const data = res.data.view;

            for (let i = 0; i < data.length; i++) {
              const e = data[i];
              this.employees.push({
                employee_id: e.empID,
                fullname: `${e.lastName}, ${e.firstName}`,
                is_user: e.userId ? "Yes" : "No"
              });
            }
          }
          return;
        }
      } catch (e) {
        console.log("Error get all employees: ", e);
      }
    },
    async getEmployeeId(row) {
      try {
        this.showLoading = true;

        const { employee_id, fullname, is_user } = row;
        this.employeeName = fullname;
        this.employeeId = employee_id;

        if (is_user.toLowerCase() == "yes") {
          this.isLicensed = true;
        } else {
          this.isLicensed = false;
        }

        this.showLoading = false;
        this.modalShow = false;
      } catch (e) {
        console.log("Error passing Employee ID: ", e);
      }
    }
  },
  mounted() {}
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.resetPw {
  background-color: #da3b3b;
  color: white;
}

.buttons {
  background-color: #00803e;
  color: white;
  padding: 3px;
  margin-top: 3px;
}

.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  z-index: 999999;
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
