<template>
  <div id="app">
    <Truckscale />
  </div>
</template>

<script>
import Truckscale from "~/components/Truckscale/index.vue";

export default {
  layout: "sidebar",
  components: {
    Truckscale
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view truckscales" }
  }
};
</script>

<style scoped>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}

.red {
  color: whitesmoke;
  background-color: #f03232;
}

.green {
  color: whitesmoke;
  background-color: #00a651;
}

.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>