<template>
  <!-- DIVISION -->
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <!-- HEADER NAME -->
    <h4 class="color1 ml-4">Roles & Access</h4>
    <!-- HEADER NAME END-->
    <!--HEADER CARD  -->
    <b-card class="my-4 mr-4 ml-4">
      <b-card-group deck>
        <!-- CARD 1 -->
        <div class="my-2 mr-4 ml-4" style="width:600px">
          <!-- MODAL ROLES -->
          <b-modal
            title="Update Role"
            size="xl"
            ref="updateRoleModal"
            hide-header-close
            no-close-on-backdrop
          >
            <b-container fluid>
              <b-row>
                <b-col>
                  <b-form-group id="roleName">
                    <b-form-input
                      style="font-size:13px"
                      id="roleNameUpdate"
                      v-model="roleNameUpdate"
                      required
                    ></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col>
                  <b-form-group style="margin-top: 6px">
                    <b-form-checkbox
                      v-model="roleStatus"
                      :value="true"
                      :unchecked-value="false"
                    >{{roleStatus ? 'Active' : 'Inactive'}}</b-form-checkbox>
                  </b-form-group>
                </b-col>
              </b-row>
              <!-- loop module and action -->
              <b-row id="select">
                <b-col id="title" v-for="(option, index) in options" :key="index">
                  <b-form-group id="name" :label="option.module">
                    <b-form-checkbox-group
                      :id="'choices'+index"
                      v-model="selected"
                      :options="option.actions"
                      switches
                      stacked
                    ></b-form-checkbox-group>
                  </b-form-group>
                </b-col>
              </b-row>
              <!-- end loop -->
            </b-container>

            <template v-slot:modal-footer>
              <div class="w-100 float-right">
                <b-button
                  id="btnCloseModal"
                  @click="closeModal"
                  variant="danger"
                  class="mr-2"
                  size="sm"
                >Close</b-button>
                <b-button
                  id="btnUpdateModal"
                  variant="primary"
                  size="sm"
                  class="button1"
                  @click="updateRole"
                >Save</b-button>
              </div>
            </template>
          </b-modal>
          <!-- MODAL ROLES END -->

          <!-- TABLE HEADER -->
          <b-row>
            <b-col>
              <b-form-group
                style="font-size:13px"
                label="Search"
                label-cols-sm="3"
                label-align-sm="left"
                label-size="sm"
                label-for="filterInput"
              >
                <b-input-group size="sm">
                  <b-form-input
                    style="font-size:13px"
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    label-align-sm="left"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button id="btnclear" :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>
            <!-- TABLE HEADER END -->

            <!-- ROLES TABLE -->
            <b-table
              id="table"
              class="my-1"
              style="font-size:13px"
              show-empty
              small
              scrollable
              stacked="md"
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
              @filtered="onFiltered"
            >
              <!-- ROLES TABLE -->
              <template v-slot:cell(Actions)="row">
                <b-button id="editRole" class="button1" size="sm"  v-if="accessRightExists('edit role')" @click="openModal(row)">
                  <font-awesome-icon icon="edit" class="icon" />
                </b-button>
              </template>
              <template v-slot:table-caption>
                <b-row align-h="end">
                  <b-col cols="6">{{bottomLabel}}</b-col>

                  <b-col cols="6">
                    <b-pagination
                      id="pagination"
                      pills
                      v-model="currentPage"
                      :total-rows="totalRows"
                      :per-page="perPage"
                      align="right"
                      size="sm"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </template>
              <!-- ROLES TABLE END -->
            </b-table>
          </b-row>
        </div>
        <!-- CARD 1 END -->

        <!-- CARD 2 -->
        <b-card style="height:30%">
          <!-- CARD 2 HEADER -->
          <b-card-text>
            <h5 class="color1">NEW ROLE</h5>
          </b-card-text>
          <!-- CARD 2 HEADER END -->

          <!-- CARD 2 BODY -->
          <hr />
          <b-form-group id="addrole" label="Role Name:" label-for="input-2" style="font-size:13px">
            <b-form-input style="font-size:13px" id="roleInput" v-model="roleName" required></b-form-input>
          </b-form-group>
          <!-- CARD 2 BODY END -->

          <!-- CARD 2 FOOTER -->
          <b-row align-h="end">
            <b-button
              id="clearRole"
              @click="clearRole()"
              variant="danger"
              class="mr-2"
              style="font-size:13px"
            >Clear</b-button>
            <b-button
              v-if="accessRightExists('add role')"
              id="addRoleBtn"
              @click="addRole"
              class="button1 mr-3"
              style="font-size:13px"
            >Add</b-button>
          </b-row>
          <!-- CARD 2 FOOTER END -->
        </b-card>
        <!-- CARD 2 END -->

        <!-- ALERT SUCCESSFULL -->
        <b-alert
          :show="dismissCountDown"
          dismissible
          fade
          class="button1 fixed"
          @dismiss-count-down="countDownChanged"
        >{{successMsg}}</b-alert>
        <!-- error msg -->
        <b-alert
          :show="dismissCountDownErr"
          dismissible
          fade
          class="err fixed"
          @dismiss-count-down="countDownChangedErr"
        >{{errorMsg}}</b-alert>
        <!-- ALERT SUCCESSFULL END -->
      </b-card-group>
      <br />
      <!-- <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group> -->
    </b-card>
    <!-- HEADER CARD END -->
  </div>
  <!-- DIVISION END -->
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  async created() {
    await this.getModules();
    await this.getRoles();
    this.totalRows = this.items.length;
  },

  middleware: "pageValidator",
  meta: {
    access: { right: "view roles" }
  },
  data() {
    return {
      showLoading: false,
      //Switch
      checked: true,
      //Modal Action
      Action: false,
      //Table
      totalRows: 1,
      currentPage: 1,
      dismissSecs: 3,
      perPage: 8,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      editModal: false,
      roleIdForUpdate: null,
      roleName: null,
      RoleNameInputForUpdate: "",
      selected: [],
      selectedUpdate: null,
      roleNameUpdate: null,
      options: [],
      dataTest: null,
      items: [],
      //TABLE HEADER
      fields: [
        { key: "id", label: "ID", sortable: true },
        { key: "name", label: "Name", sortable: true },
        { key: "created_by", label: "Created By", sortable: true },
        { key: "Actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,

      roleStatus: null
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },
    async getModules() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/modules/select-with-actions`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < res.data.view.length; i++) {
            if (res.data.view[i].modulestatus === true) {
              let moduleDescription = res.data.view[i].moduledescription;
              let tempActions = [];
              for (let i2 = 0; i2 < res.data.view[i].actions.length; i2++) {
                if (res.data.view[i].actions[i2].actionstatus === true) {
                  tempActions.push({
                    value: res.data.view[i].actions[i2].actionid,
                    text: this.convertCase(
                      res.data.view[i].actions[i2].actiondescription
                    )
                  });
                }
              }
              this.options.push({
                module: this.convertCase(moduleDescription),
                actions: tempActions
              });
            }
          }
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;

      let time = null;

      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    async getRoles() {
      try {
        this.showLoading = true;

        this.items = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/roles/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < v.length; i++) {
            this.items.push({
              id: v[i].id,
              name: this.convertCase(v[i].name),
              created_by: this.convertCase(
                `${v[i].first_name} ${v[i].last_name}`
              ),
              status: v[i].is_active
            });
          }
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    async updateRole() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/roles/update/${this.roleIdForUpdate}`,
          data: {
            status: this.roleStatus,
            updated_by: localStorage.id,
            name: this.roleNameUpdate,
            access_rights: this.selected,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          this.getRoles();
          this.closeModal();
          this.successMsg = "Role updated successfully";
          this.showAlert();
        }
      } catch (e) {
        console.log("Error: ", e);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();

        this.showLoading = false;
      }
    },

    async openModal(row) {
      try {
        this.showLoading = true;
        this.roleNameUpdate = row.item.name;
        this.roleIdForUpdate = row.item.id;
        this.roleStatus = row.item.status;
        this.selected = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/access-rights/select/${this.roleIdForUpdate}`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < v.length; i++) {
            const e = v[i];

            for (let x = 0; x < e.actions.length; x++) {
              this.selected.push(e.actions[x].actions_id);
            }
          }

          this.$refs["updateRoleModal"].show();
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
      }
    },

    closeModal() {
      this.$refs["updateRoleModal"].hide();
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async addRole() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/roles/add`,
          data: {
            created_by: localStorage.id,
            name: this.roleName,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          this.clearRole();
          this.getRoles();
          this.successMsg = "Added role successfully";
          this.showAlert();
        }
      } catch (e) {
        this.showLoading = false;

        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },
    clearRole() {
      this.roleName = null;
    }
  },

  layout: "sidebar"
};
</script>

<style >
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
