<template>
  <div id="app">
    <SAPLogin />
  </div>
</template>

<script>
import SAPLogin from "@/components/Login/SAPLogin";

export default {
  components: {
    SAPLogin
  }
};
</script>

<style scoped>
</style>