<template>
  <b-container>
    <div class="body">
      <div class="container">
        <div>
          <Loading v-if="showLoading" />

          <b-form>
            <div class="newpass">
              <div style="letter-spacing: 4.1px"></div>Enter New Password
            </div>
            <b-form-group>
              <b-input-group-prepend>
                <input
                  id="login_password1"
                  class="password"
                  v-model="user.password"
                  placeholder="Password"
                  type="password"
                  style="margin-top: 20px"
                  autofocus
                  v-on:keyup.enter="focusPassword2()"
                />
              </b-input-group-prepend>
              <b-input-group-prepend>
                <input
                  id="login_password2"
                  class="password"
                  v-model="user.repassword"
                  placeholder="Confirm Password"
                  type="password"
                  style="margin-top: 20px"
                  ref="password2"
                  v-on:keyup.enter="Confirm()"
                />
              </b-input-group-prepend>

              <div class="container1">
                <h5>Create Your Pincode</h5>
                <div class="pinBox">
                  <input
                    id="input-pincode"
                    class="pinEntry"
                    v-model="user.U_TS_PIN"
                    type="password"
                    maxlength="4"
                    name="pin"
                    pattern="[0-9]{4}"
                  />
                </div>
              </div>
            </b-form-group>
            <b-button id="login" class="login" @click="Confirm()" block>Confirm</b-button>
          </b-form>

          <!-- notifs -->
          <b-alert
            :show="dismissCountDown"
            dismissible
            fade
            class="button1 fixed"
            @dismiss-count-down="countDownChanged"
          >{{successMsg}}</b-alert>
          <!-- error msg -->
          <b-alert
            :show="dismissCountDownErr"
            dismissible
            fade
            class="err fixed"
            @dismiss-count-down="countDownChangedErr"
          >{{errorMsg}}</b-alert>
          <!-- end notifs -->
        </div>
      </div>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  name: "LoginForm",
  layout: "loginLayout",
  data() {
    return {
      showLoading: false,
      user: {
        password: null,
        repassword: null,
        U_TS_PIN: null
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDownErr: 0,
      successMsg: null,
      errorMsg: null
    };
  },

  computed: {},
  methods: {
    async Confirm() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/reset-password/${localStorage.id}`,
          data: {
            ...this.user,
            mode: localStorage.mode
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        const status = res.status;
        if (status == 200) {
          this.successMsg = "Password updated successfully.";
          this.showAlert();

          setTimeout(() => {
            this.$router.push(`/`);
          }, 2000);
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    }
  }
};
</script>

<style>
.container1 {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
.button1 {
  background-color: #00a651;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
body {
  background-color: white;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.newpass {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 330;
  font-size: 35px;
  color: #00a651;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
.bcard {
  border: 0px;
  border-radius: 12px;
  padding: 1rem;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00803e;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}
.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}
</style>