<template>
  <div class="body">
    <Loading v-if="showLoading" />
    <div class="container">
      <div>
        <b-form>
          <img class="logo" src="/biotech.png" />

          <h6 class="title">
            TRUCK SCALE
            <br />INTEGRATED SYSTEM
          </h6>

          <h2 class="subtitle">Version 1.6.0</h2>
          <b-form-group>
            <b-input-group-prepend>
              <input
                class="username"
                v-model="user.employee_id"
                placeholder="Employee ID"
                @keyup.enter="login()"
                id="username"
              />
            </b-input-group-prepend>

            <b-input-group-prepend>
              <input
                class="password"
                v-model="user.password"
                placeholder="Password"
                @keyup.enter="login()"
                type="password"
                style="margin-top: 20px"
                id="password"
              />
            </b-input-group-prepend>

            <b-input-group-prepend>
              <b-form-checkbox id="showhidepw" @change="showHidePw" v-model="showPw" switch>
                <b>{{ showPw ? "Hide" : "Show" }} Password</b>
              </b-form-checkbox>
            </b-input-group-prepend>

          </b-form-group>
          <b-button class="login" @click="login()" block id="loginButton">LOGIN</b-button>

          <h2 class="subtitle" style="margin-top:30px">&copy;2019 BIOTECH FARMS INCORPORATED</h2>
        </b-form>
      </div>
    </div>
    <!-- ALERT SUCCESSFUL -->
    <b-alert
      id="alertMessage"
      :show="dismissCountDown"
      dismissible
      fade
      class="red alert"
      @dismiss-count-down="countDownChanged"
    >{{ errorMessage }}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import moment from "moment";
export default {
  name: "LoginForm",
  layout: "loginLayout",
  components: {
    Loading
  },
  data() {
    return {
      showPw: false,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      user: {
        employee_id: "",
        password: ""
      },
      errorMessage: "",
      checked: false,
      showLoading: false,

      pages: [
        {
          link: `/transaction`,
          access: `view transactions`
        },
        {
          link: `/truck`,
          access: `view trucks`
        },
        {
          link: `/driver`,
          access: `view drivers`
        },
        {
          link: `/report`,
          access: `view reports`
        },
        {
          link: `/request`,
          access: `view requests`
        },
        {
          link: `/admin/accessrights`,
          access: `view roles`
        },
        {
          link: `/admin/user`,
          access: `view users`
        },
        {
          link: `/admin/unitofmeasures`,
          access: `view unit of measures`
        },
        {
          link: `/admin/activitylogs`,
          access: `view activity logs`
        },
        {
          link: `/admin/printlogs`,
          access: `view print logs`
        }
      ]
    };
  },
  computed: {
    inputValidation() {
      if (this.user.employee_id.length > 0 && this.user.name.length <= 20) {
        return true;
      } else {
        return false;
      }
    }
  },
  created() {
    localStorage.clear();
  },
  methods: {
    showHidePw() {
      const x = document.getElementById("password");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },

    async login() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/users/login`,
          data: {
            employee_id: this.user.employee_id,
            password: this.user.password,
            mode: this.checked ? "1" : "0"
          }
        });
    

        // means if no truckscale detected; configure
        if (!res.data.patched.truckscale) {
          localStorage.session = res.data.patched.token;
          localStorage.mode = this.checked ? "1" : "0";

          this.$router.push(`/Configuration`);
          return;
        }

        // first time login
        if (res.data.patched.count == null || res.data.patched.count == 0) {
          localStorage.id = res.data.patched.id;
          localStorage.session = res.data.patched.token;
          localStorage.mode = this.checked ? "1" : "0";

          this.$router.push(`/First_Login`);
          return;
        }
        
        //assign localstorage
        localStorage.mode = this.checked ? "1" : "0";
        localStorage.id = res.data.patched.id;
        localStorage.session = res.data.patched.token;
        localStorage.role = res.data.patched.role;
        localStorage.truckscale = res.data.patched.truckscale.id;
        localStorage.tslocation =
          res.data.patched.truckscale.truckscale_location;
        localStorage.modules = JSON.stringify(res.data.patched.modules);
        localStorage.name = res.data.patched.name;

        this.showLoading = false;

        const pages = this.pages;

        for (let i = 0; i < pages.length; i++) {
          if (this.accessRightExists(pages[i].access)) {
            this.$router.push(pages[i].link);
            break;
          }
        }

      } catch (e) {
        this.showLoading = false;
        this.errorMessage = e.response.data.error;
        this.showAlert();
      }
    }
  }
};
</script>

<style>
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00a651;
  background-color: #00a651;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}

.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.red {
  color: whitesmoke;
  background-color: #f03232;
}
.alert {
  position: fixed;
  bottom: 0%;
  right: 1%;
}
</style>
