<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">Unit Of Measures</h4>

    <b-card class="my-4 mr-4 ml-4">
      <b-card-group deck>
        <div class="my-2 mr-4 ml-4" style="width:600px">
          <b-row>
            <b-col>
              <b-form-group
                style="font-size:13px"
                label="Search"
                label-cols-sm="3"
                label-align-sm="left"
                label-size="sm"
                label-for="filterInput"
              >
                <b-input-group size="sm">
                  <b-form-input
                    style="font-size:13px"
                    v-model="filter"
                    type="search"
                    id="filterInput"
                    label-align-sm="left"
                    placeholder="Type to Search"
                  ></b-form-input>
                  <b-input-group-append>
                    <b-button id="inputSearchClear" :disabled="!filter" @click="filter = ''">Clear</b-button>
                  </b-input-group-append>
                </b-input-group>
              </b-form-group>
            </b-col>

            <b-table
              id="table"
              class="my-1"
              style="font-size:13px"
              show-empty
              small
              scrollable
              stacked="md"
              responsive
              :items="items"
              :fields="fields"
              :current-page="currentPage"
              :per-page="perPage"
              :filter="filter"
              :filterIncludedFields="filterOn"
              :sort-by.sync="sortBy"
              :sort-desc.sync="sortDesc"
              :sort-direction="sortDirection"
            >
              <template v-slot:cell(actions)="row">
                <b-button
                  id="btnEditUom"
                  class="button1"
                  size="sm"
                  v-if="accessRightExists('edit unit of measure')"
                  @click="openUpdateModal(row.item)"
                >
                  <font-awesome-icon icon="edit" class="icon" />
                </b-button>
              </template>

              <template v-slot:table-caption>
                <b-row align-h="end">
                  <b-col cols="6">{{bottomLabel}}</b-col>

                  <b-col cols="6">
                    <b-pagination
                      id="pagination"
                      pills
                      v-model="currentPage"
                      :total-rows="rows"
                      :per-page="perPage"
                      align="right"
                      aria-controls="maintable"
                      limit="3"
                      size="sm"
                    ></b-pagination>
                  </b-col>
                </b-row>
              </template>
            </b-table>
          </b-row>
        </div>

        <b-card style="height:30%">
          <b-card-text>
            <h5 class="color1">NEW UNIT OF MEASURE</h5>
          </b-card-text>

          <hr />

          <b-form-group id="uomName" label="Name" label-for="input-2" style="font-size:13px">
            <b-form-input
              style="font-size:13px"
              v-model="uomName"
              id="uomNameInput"
              autocomplete="off"
              required
            ></b-form-input>
          </b-form-group>

          <br />
          <b-row align-h="end">
            <b-button
              @click="clearFields()"
              variant="danger"
              class="mr-2"
              style="font-size:13px"
            >Clear</b-button>
            <b-button  v-if="accessRightExists('add unit of measure')" @click="addUom" class="button1 mr-3" style="font-size:13px">Add</b-button>
          </b-row>
        </b-card>
      </b-card-group>
    </b-card>

    <b-modal title="Update Unit Of Measure" size="m" ref="updateUomModal">
      <b-container fluid>
        <b-form-group style="font-size:13px" label="Name:">
          <b-form-input style="font-size:13px" placeholder="Name" v-model="updateUomName" required></b-form-input>
        </b-form-group>

        <b-form-group style="font-size:13px">
          <b-form-checkbox
            v-model="updateUomStatus"
            :value="true"
            :unchecked-value="false"
          >{{updateUomStatus ? 'Active' : 'Inactive'}}</b-form-checkbox>
        </b-form-group>
      </b-container>

      <template v-slot:modal-footer>
        <div class="w-100">
          <b-button
            id="btnCloseModal"
            @click="closeUpdateModal"
            variant="danger"
            class="mr-2"
            size="sm"
          >Close</b-button>
          <b-button
            id="btnUpdateModal"
            variant="primary"
            size="sm"
            class="button1"
            @click="updateUom"
          >Save</b-button>
        </div>
      </template>
    </b-modal>

    <b-alert
      :show="dismissCountDown"
      dismissible
      fade
      class="button1 fixed"
      @dismiss-count-down="countDownChanged"
    >{{successMsg}}</b-alert>
    <!-- error msg -->
    <b-alert
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{errorMsg}}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import moment from "moment";
import Loading from "~/components/LoadingOverlay/Loading.vue";

export default {
  components: {
    Loading
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view unit of measures" }
  },
  layout: "sidebar",
  data() {
    return {
      uomName: null,

      showLoading: false,
      filter: null,

      items: [],
      fields: [
        { key: "id", label: "ID", sortable: true },
        { key: "name", label: "Name", sortable: true },
        { key: "created_by", label: "Created By", sortable: true },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      currentPage: 1,
      perPage: 5,
      filterOn: [],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",

      successMsg: null,
      errorMsg: null,

      dismissCountDown: 0,
      dismissCountDownErr: 0,

      updateUomStatus: null,
      updateUomName: null,
      uomToUpdateId: null
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },

    rows() {
      if (this.filter) {
        const filteredItems = this.items.filter(
          item =>
            item.name.includes(this.filter.toLowerCase()) ||
            item.created_by.toLowerCase().includes(this.filter.toLowerCase())
        );
        return filteredItems.length;
      } else {
        return this.items.length;
      }
    }
  },
  async created() {
    await this.getUoms();
  },
  methods: {
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    async updateUom() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/items/uom/update/${this.uomToUpdateId}`,
          data: {
            status: this.updateUomStatus,
            name: this.updateUomName,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        if (res.status == 200) {
          this.$refs["updateUomModal"].hide();
          this.successMsg = "Edited unit of measure successfully.";
          this.showAlert();
          this.getUoms();
        }

        this.showLoading = false;
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    openUpdateModal(data) {
      this.uomToUpdateId = data.id;
      this.updateUomName = data.name;
      this.updateUomStatus = data.is_active;
      this.$refs["updateUomModal"].show();
    },

    closeUpdateModal() {
      this.$refs["updateUomModal"].hide();
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = 3;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = 3;
    },

    async addUom() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/add`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            uomName: this.uomName,
            created_by: localStorage.id,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          this.successMsg = "Added unit of measure successfully.";
          this.showAlert();
          this.clearFields();
          this.getUoms();
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
        console.log(e);
      }
    },

    async getUoms() {
      try {
        this.showLoading = true;

        this.items = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < v.length; i++) {
            this.items.push({
              id: v[i].id,
              name: v[i].name ? this.convertCase(v[i].name) : "",
              created_by: `${v[i].first_name} ${v[i].last_name}`,
              is_active: v[i].is_active
            });
          }
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },

    clearFields() {
      this.uomName = null;
    },

    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    }
  },
  mounted() {}
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}

.resetPw {
  background-color: #da3b3b;
  color: white;
}

.buttons {
  background-color: #00803e;
  color: white;
  padding: 3px;
  margin-top: 3px;
}

.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
  z-index: 999999;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
