<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">REPORT</h4>
    <b-card class="my-4 mr-4 ml-4">
      <b-alert
        id="alertdanger"
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{ errorMsg }}</b-alert>
      <b-alert
        id="alertsuccess"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert>

      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="inputSearch"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="5">
          <b-input-group id="date" prepend="Date" size="sm">
            <date-range-picker
              id="datePicker"
              ref="pickdate"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                size="sm"
                id="pickdate"
                slot="input"
                style="min-width: 170px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append id="pickdate" style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols class="mb-1">
          <b-dropdown size="sm" text="Filters">
            <b-dropdown-group header="Transaction Types">
              <b-form-checkbox-group size="sm" v-model="selectedTransactionTypeFilter" class="ml-4">
                <b-form-checkbox
                  size="sm"
                  :id="'transactionTypeFilter' + index"
                  v-for="(item, index) in transactionTypeFilters"
                  :key="index"
                  :value="item"
                >{{ item }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-dropdown-group>

            <b-dropdown-group header="Status">
              <b-form-checkbox-group size="sm" v-model="selectedStatusFilter" class="ml-4">
                <b-form-checkbox
                  size="sm"
                  :id="'statusFilter' + index"
                  v-for="(item, index) in statusFilters"
                  :key="index"
                  :value="item"
                >{{ item }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>

        <b-col cols style="text-align: right;">
          <b-button
            id="printBtn"
            size="sm"
            style="font-size:15px;"
            variant="dark"
            v-b-tooltip.hover
            title="Print Report"
            @click="print"
          >
            <font-awesome-icon style icon="print" />
          </b-button>
          <b-button
            id="btnExportReports"
            align="right"
            size="sm"
            class="button1"
            style="font-size:15px "
            v-b-tooltip.hover
            title="Export to Excel"
            @click="exportReports"
          >
            <font-awesome-icon icon="file-excel" />
          </b-button>
        </b-col>
      </b-row>

      <div id="printTable">
        <b-table
          id="printTable"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="computedReports"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
          @row-clicked="clickPrint"
          :tbody-tr-class="highlightRow"
        >
          <template v-slot:cell(status)="row">
            <div class="badge-font-size" v-if="convertLowerCase(row.item.status) === 'completed'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:green"
              >{{ row.item.status }}</b-badge>
            </div>

            <div class="badge-font-size" v-if="convertLowerCase(row.item.status) === 'pending'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:#db9107;"
              >{{ row.item.status }}</b-badge>
            </div>
            <div class="badge-font-size" v-if="convertLowerCase(row.item.status) === 'cancelled'">
              <b-badge
                pill
                block
                style="font-size:0.7rem;background-color:#ed3502;"
              >{{ row.item.status }}</b-badge>
            </div>
          </template>

          <template v-slot:cell(actions)="row">
            <b-button
              v-if="accessRightExists('add request') && convertLowerCase(row.item.status) === 'completed'"
              class="button1"
              size="sm"
              @click="openRequestModal(row)"
            >Request</b-button>
            <b-button
              v-if="accessRightExists('edit report') && convertLowerCase(row.item.status) === 'completed'"
              class="button1"
              size="sm"
              @click="openEditModal(row)"
            >Edit</b-button>

            <b-button
              v-if="accessRightExists('cancel transaction') && convertLowerCase(row.item.status) !== 'cancelled' && role === 'supervisor' && convertLowerCase(row.item.status) !== 'completed'"
              class="button1"
              size="sm"
              @click="openCancelModal(row)"
            >Cancel</b-button>

            <b-button
              v-else-if="accessRightExists('cancel transaction') && convertLowerCase(row.item.status) !== 'cancelled' && role === 'admin'"
              class="button1"
              size="sm"
              @click="openCancelModal(row)"
            >Cancel</b-button>
          </template>

          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-print-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Print Weight Slip</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to print this document?</h6>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <h6>Print Count: {{printed_documents}}/{{print_limit}}</h6>
          </b-col>
        </b-row>

        <b-row v-if="selectedRowTransactionType.toLowerCase() == 'biotech farms'">
          <b-col>
            <b-form-select v-model="selectedLocation" :options="locationOptions"></b-form-select>
          </b-col>
        </b-row>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            @click="printWs(itemsWS)"
            style="font-size:13px"
            class="button1"
          >Print</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            @click="cancel()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
      </b-modal>

      <b-modal ref="editReportModal" id="editReportModal" hide-footer>
        <template v-slot:modal-title>EDIT REPORT</template>
        <div class="d-block text-center">
          <div>
            <b-form id="formEditReport" @submit.prevent="editReport">
              <b-form-group>
                <div>
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Plate Number:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="plateNumberFilterEdit"
                        v-model="editModalData.plateNumber"
                        :data="plateNumberOptions"
                        required
                        style="font-size:11px"
                        ref="editPlateNumber"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Driver:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="driverFilterEdit"
                        v-model="editModalData.driver"
                        :data="driverOptions"
                        required
                        placeholder="Lastname, Firstname"
                        style="font-size:11px"
                        ref="editDriver"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Supplier:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="omSupplierFilterEdit"
                        v-model="editModalData.supplier"
                        :data="supplierOptions"
                        required
                        style="font-size:11px"
                        ref="editSupplier"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Supplier Address:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input
                        id="supplierAddress"
                        size="md"
                        v-model="editModalData.supplierAddress"
                      ></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Item:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="omItemFilterEdit"
                        v-model="editModalData.item"
                        :data="itemOptions"
                        required
                        style="font-size:11px"
                        ref="editItem"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Unit Of Measure:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectUomEdit"
                        size="md"
                        v-model="editModalData.selectedUom"
                        :options="uomOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Quantity:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input
                        id="inputNumberofBagsEdit"
                        v-model="editModalData.numberOfBags"
                        type="number"
                        size="md"
                        ref="editNumberOfBags"
                      ></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Remarks:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-textarea
                        id="remarksEdit"
                        v-model="editModalData.remarks"
                        placeholder
                        rows="3"
                        max-rows="6"
                        class="my-2"
                        :maxlength="text_area_max_length"
                        @keydown.enter.prevent
                      ></b-form-textarea>
                    </b-col>
                  </b-row>

                  <hr />
                  <b-button id="btnEditReport" type="submit" class="ml-10 button1">Save</b-button>
                </div>
              </b-form-group>
            </b-form>
          </div>
        </div>
      </b-modal>

      <b-modal ref="requestModal" id="requestModal" hide-footer>
        <template v-slot:modal-title>Send Request</template>
        <div class="d-block">
          <div>
            <b-form id="formRequest" @submit.prevent="sendRequest">
              <b-row class="my-1 text-left">
                <b-col cols="3">
                  <b-form-checkbox
                    v-model="isReprint"
                    :value="true"
                    :unchecked-value="false"
                  >Reprint</b-form-checkbox>
                </b-col>
                <b-col v-if="role !== 'controller'">
                  <b-form-checkbox v-model="isEdit" :value="true" :unchecked-value="false">Edit</b-form-checkbox>
                </b-col>
              </b-row>

              <b-form-group class="mt-4">
                <div>
                  <div v-show="isReprint">
                    <b-row class="my-1">
                      <b-col sm="4">
                        <label>Additional Print:</label>
                      </b-col>
                      <b-col sm="8">
                        <b-form-input
                          id="additonalPrint"
                          v-model="sendRequestModalData.printCount"
                          type="number"
                          size="sm"
                          ref="additonalPrint"
                        ></b-form-input>
                      </b-col>
                    </b-row>
                  </div>
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Reason:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-textarea
                        id="requestMessage"
                        v-model="sendRequestModalData.reason"
                        placeholder
                        rows="3"
                        max-rows="6"
                        class="my-2"
                        :maxlength="text_area_max_length"
                        @keydown.enter.prevent
                      ></b-form-textarea>
                    </b-col>
                  </b-row>

                  <div v-show="isEdit">
                    <hr />
                    <b-form-group>
                      <div>
                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Plate Number:</label>
                          </b-col>
                          <b-col sm="8">
                            <vue-bootstrap-typeahead
                              id="plateNumberFilterEdit"
                              v-model="editModalData.plateNumber"
                              :data="plateNumberOptions"
                              required
                              style="font-size:11px"
                              ref="editPlateNumber"
                            />
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Driver:</label>
                          </b-col>
                          <b-col sm="8">
                            <vue-bootstrap-typeahead
                              id="driverFilterEdit"
                              v-model="editModalData.driver"
                              :data="driverOptions"
                              required
                              placeholder="Lastname, Firstname"
                              style="font-size:11px"
                              ref="editDriver"
                            />
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Supplier:</label>
                          </b-col>
                          <b-col sm="8">
                            <vue-bootstrap-typeahead
                              id="omSupplierFilterEdit"
                              v-model="editModalData.supplier"
                              :data="supplierOptions"
                              required
                              style="font-size:11px"
                              ref="editSupplier"
                            />
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Supplier Address:</label>
                          </b-col>
                          <b-col sm="8">
                            <b-form-input
                              id="supplierAddress"
                              size="md"
                              v-model="editModalData.supplierAddress"
                            ></b-form-input>
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Item:</label>
                          </b-col>
                          <b-col sm="8">
                            <vue-bootstrap-typeahead
                              id="omItemFilterEdit"
                              v-model="editModalData.item"
                              :data="itemOptions"
                              required
                              style="font-size:11px"
                              ref="editItem"
                            />
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Unit Of Measure:</label>
                          </b-col>
                          <b-col sm="8">
                            <b-form-select
                              id="selectUomEdit"
                              size="md"
                              v-model="editModalData.selectedUom"
                              :options="uomOptions"
                            ></b-form-select>
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Quantity:</label>
                          </b-col>
                          <b-col sm="8">
                            <b-form-input
                              id="inputNumberofBagsEdit"
                              v-model="editModalData.numberOfBags"
                              type="number"
                              size="md"
                              ref="editNumberOfBags"
                            ></b-form-input>
                          </b-col>
                        </b-row>

                        <b-row class="my-1">
                          <b-col sm="4">
                            <label>Remarks:</label>
                          </b-col>
                          <b-col sm="8">
                            <b-form-textarea
                              id="remarksEdit"
                              v-model="editModalData.remarks"
                              placeholder
                              rows="3"
                              max-rows="6"
                              class="my-2"
                              :maxlength="text_area_max_length"
                              @keydown.enter.prevent
                            ></b-form-textarea>
                          </b-col>
                        </b-row>
                      </div>
                    </b-form-group>
                  </div>

                  <hr />
                  <div class="text-center">
                    <b-button id="btnSendRequestBtn" type="submit" class="ml-10 button1">Send</b-button>
                  </div>
                </div>
              </b-form-group>
            </b-form>
          </div>
        </div>
      </b-modal>

      <b-modal
        size="sm"
        header-bg-variant="success"
        header-text-variant="light"
        id="confirm-cancel-modal"
        no-close-on-backdrop
      >
        <template v-slot:modal-title>
          <h6>Cancel Transaction</h6>
        </template>

        <b-row>
          <b-col>
            <h6>Are you sure you want to cancel this transaction?</h6>
          </b-col>
        </b-row>
        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            id="add_pos"
            size="sm"
            variant="success"
            style="font-size:13px"
            class="button1"
            @click="cancelTransaction"
          >Yes</b-button>
          <b-button
            id="close_pos"
            class="button3"
            size="sm"
            style="font-size:13px;border: 0px;"
            @click="cancel()"
          >No</b-button>
        </template>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
import VueHtmlToPaper from "vue-html-to-paper";
import Papa from "papaparse";
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import jsPDF from "jspdf";
import "jspdf-autotable";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: { DateRangePicker, Loading, VueBootstrapTypeahead },

  async created() {
    const modules = JSON.parse(localStorage.modules);

    this.role = localStorage.role;
    await this.determineFields();
    await this.getLocations();
    await this.getUoms();
    await this.getDrivers();
    await this.getPlateNumbers();
    await this.getSuppliers();
    await this.getItems();
    await this.getReports();
    this.totalRows = this.items.length;
  },

  data() {
    return {
      role: null,

      cancelData: null,

      selectedStatusFilter: [],
      statusFilters: [],

      text_area_max_length: 300,

      editModalData: {
        plateNumber: null,
        driver: null,
        supplier: null,
        supplierAddress: null,
        item: null,
        numberOfBags: null,
        id: null,
        selectedUom: null,
        remarks: null
      },

      sendRequestModalData: {
        transactionId: null,
        printCount: null,
        reason: null
      },

      uomOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      supplierOptions: [],
      itemOptions: [],

      selectedLocation: null,
      locationOptions: [
        { value: null, text: "Please choose location", disabled: true }
      ],

      errorMsg: null,
      dismissCountDownErr: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      successMsg: null,
      transactionTypeFilters: [],
      showLoading: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 10,
      // pageOptions: [10, 15],
      selectedTransactionTypeFilter: [],
      opens: "center",

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      selectedRowTransactionType: "",
      itemsWS: null,
      modalShow: false,
      weightSlips: [],
      items: [],
      toBePrint: [],
      fields: [
        {
          key: "created_at",
          label: "Date",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "tracking_code",
          label: "Tracking Code",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "formatted_transaction_type",
          label: "Transaction Type",
          sortable: true,
          class: "text-center"
        },
        {
          key: "raw_material",
          label: "Product",
          sortable: true,
          class: "text-center"
        },
        {
          key: "supplier",
          label: "Supplier",
          sortable: true,
          class: "text-center"
        },
        {
          key: "driver",
          label: "Driver",
          sortable: true,
          class: "text-center"
        },
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
      ],

      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },

      printed_documents: null,
      print_limit: null,

      isReprint: false,
      isEdit: false
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedReports.length) {
        end = this.computedReports.length;
      }

      if (this.computedReports.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedReports.length} entries`;
    },

    computedReports() {
      const pageSize = () => {
        return this.items.filter(item => {
          return (
            this.selectedTransactionTypeFilter.includes(
              item.transaction_type
            ) && this.selectedStatusFilter.includes(item.status)
          );
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return (
          this.selectedTransactionTypeFilter.includes(item.transaction_type) &&
          this.selectedStatusFilter.includes(item.status)
        );
      });
    }
  },
  mounted() {},
  methods: {
    openCancelModal(row) {
      this.cancelData = row.item;
      this.$bvModal.show("confirm-cancel-modal");
    },

    async cancelTransaction() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/cancel/${this.cancelData.transaction_id}`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.cancelData,
            updated_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        if (res.status == 200) {
          await this.getReports();
          this.successMsg = "Cancelled transaction successfully.";
          this.showAlert();
          this.$bvModal.hide("confirm-cancel-modal");
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },

    async editReport() {
      try {
        this.showLoading = true;

        const editReportPayload = {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
          driver_id: this.editModalData.driver,
          truck_info_id: this.editModalData.plateNumber,
          supplier: this.editModalData.supplier,
          number_of_bags: this.editModalData.numberOfBags,
          item: this.editModalData.item,
          updated_by: localStorage.id,
          supplier_address: this.editModalData.supplierAddress,
          uom_id: this.editModalData.selectedUom,
          remarks: this.editModalData.remarks
        };

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/reports/edit/${this.editModalData.id}`,
          data: {
            ...editReportPayload
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          await this.getDrivers();
          await this.getPlateNumbers();
          await this.getSuppliers();
          await this.getItems();
          await this.getReports();
          this.successMsg = "Edited transaction successfully.";
          this.showAlert();
          this.$bvModal.hide("editReportModal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async getLocations() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/locations`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const v = res.data.view;
          for (let i = 0; i < v.length; i++) {
            this.locationOptions.push({
              value: v[i].acronym,
              text: v[i].location
            });
          }
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    async getDrivers() {
      this.showLoading = true;
      this.driverOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/drivers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;

        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          const name = this.convertCase(`${e.last_name}, ${e.first_name}`);

          this.driverOptions.push(name);
        }
      }
    },

    async getPlateNumbers() {
      this.showLoading = true;
      this.plateNumberOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.plateNumberOptions.push(e.plate_number.toUpperCase());
        }
      }
    },

    async getSuppliers() {
      this.showLoading = true;
      this.supplierOptions = [];

      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/suppliers/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });

      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.supplierOptions.push(e.name);
        }
      }
    },

    async getItems() {
      this.showLoading = true;
      this.itemOptions = [];
      const res = await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/items/select`,
        headers: {
          "Content-Type": "application/json",
          "X-HTTP-Method-Override": "GET",
          authorization: "Bearer " + localStorage.session
        },
        data: {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules)
        }
      });
      this.showLoading = false;

      if (res.status === 200) {
        const data = res.data.view;
        for (let i = 0; i < data.length; i++) {
          const e = data[i];

          this.itemOptions.push(e.name);
        }
      }
    },

    async getUoms() {
      try {
        this.showLoading = true;

        this.uomOptions = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        const v = res.data.view;

        if (res.status == 200) {
          for (let i = 0; i < v.length; i++) {
            if (v[i].is_active) {
              this.uomOptions.push({
                value: v[i].id,
                text: this.convertCase(v[i].name)
              });
            }
          }
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    determineFields() {
      this.fields = [
        {
          key: "created_at",
          label: "Date Created",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "transaction_id",
          label: "Ticket Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "formatted_transaction_type",
          label: "Transaction Type",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "supplier",
          label: "Supplier",
          sortable: true,
          class: "text-center"
        },
        {
          key: "raw_material",
          label: "Item",
          sortable: true,
          class: "text-center"
        },
        {
          key: "driver",
          label: "Driver",
          sortable: true,
          class: "text-center"
        },
        {
          key: "quantity",
          label: "Quantity",
          sortable: true,
          class: "text-center"
        },
        {
          key: "inbound_weight",
          label: "Inbound",
          sortable: true,
          class: "text-center"
        },
        {
          key: "outbound_weight",
          label: "Outbound",
          sortable: true,
          class: "text-center"
        },
        {
          key: "net_weight",
          label: "Net",
          sortable: true,
          class: "text-center"
        },
        {
          key: "status",
          label: "Status",
          sortable: true,
          class: "text-center"
        },
        {
          key: "actions",
          label: "Actions",
          sortable: true,
          class: "text-center"
        },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        }
      ];
    },
    async openEditModal(row) {
      const data = row.item;

      this.$bvModal.show("editReportModal");

      const driver_name = this.convertCase(
        `${data.driver_last_name}, ${data.driver_first_name}`
      );

      this.editModalData.plateNumber = data.plate_number;
      this.editModalData.driver = driver_name;
      this.editModalData.supplier = data.supplier;
      this.editModalData.supplierAddress = data.supplier_address;
      this.editModalData.item = data.raw_material;
      this.editModalData.numberOfBags = data.number_of_bags;
      this.editModalData.id = data.transaction_id;
      this.editModalData.selectedUom = data.uom_id;
      this.editModalData.remarks = data.remarks;

      this.$refs.editPlateNumber.inputValue = await data.plate_number;
      this.$refs.editDriver.inputValue = await driver_name;
      this.$refs.editSupplier.inputValue = await data.supplier;
      this.$refs.editItem.inputValue = await data.raw_material;
    },

    async openRequestModal(row) {
      const data = row.item;
      this.isReprint = false;
      this.isEdit = false;
      this.sendRequestModalData.transactionId = data.transaction_id;
      this.sendRequestModalData.printCount = 0;
      this.sendRequestModalData.reason = null;
      this.$bvModal.show("requestModal");

      const driver_name = this.convertCase(
        `${data.driver_last_name}, ${data.driver_first_name}`
      );

      this.editModalData.plateNumber = data.plate_number;
      this.editModalData.driver = driver_name;
      this.editModalData.supplier = data.supplier;
      this.editModalData.supplierAddress = data.supplier_address;
      this.editModalData.item = data.raw_material;
      this.editModalData.numberOfBags = data.number_of_bags;
      this.editModalData.id = data.transaction_id;
      this.editModalData.selectedUom = data.uom_id;
      this.editModalData.remarks = data.remarks;

      this.$refs.editPlateNumber.inputValue = await data.plate_number;
      this.$refs.editDriver.inputValue = await driver_name;
      this.$refs.editSupplier.inputValue = await data.supplier;
      this.$refs.editItem.inputValue = await data.raw_material;
    },

    async sendRequest() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/requests/add`,
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            ...this.sendRequestModalData,
            isEdit: this.isEdit,
            isReprint: this.isReprint,
            created_by: localStorage.id,
            draft: this.editModalData
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });
        this.showLoading = false;

        if (res.status == 201) {
          this.successMsg = "Added request successfully.";
          this.showAlert();
          this.$bvModal.hide("requestModal");
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    commaSeparate(num) {
      if (num) {
        num = parseFloat(num).toFixed(2);
        const num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        const newNum = num_parts.join(".");
        return newNum;
      } else {
        return 0;
      }
    },
    highlightRow(item, type) {
      if (!item || type !== "row") return;
      if (item.status.toLowerCase() === "rejected") return "table-danger";
    },
    convertLowerCase(s) {
      return s.toLowerCase();
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A ");
    },
    commaSeparateToNum(num) {
      if (num) {
        return parseFloat(num.replace(/,/g, ""));
      } else {
        return 0;
      }
    },
    async printWs(weightId) {
      try {
        this.showLoading = true;

        if (
          weightId.transaction_type.toLowerCase() == "biotech farms" &&
          !this.selectedLocation
        ) {
          this.errorMsg = "Please select location";
          this.showAlertErr();
          this.showLoading = false;
          return;
        }

        const data = {
          ticket_number: weightId.transaction_id,
          customer: weightId.supplier,
          address: weightId.supplier_address,
          commodity: weightId.raw_material,
          plate_number: weightId.plate_number,
          driver: weightId.driver,
          number_of_bags: weightId.quantity,
          inbound_weight: weightId.inbound_weight,
          inbound_date: weightId.date_inbound,
          outbound_weight: weightId.outbound_weight,
          outbound_date: weightId.date_outbound,
          remarks: weightId.remarks,
          net_weight: weightId.net_weight,
          signature: weightId.signature,
          weigher: weightId.weigher,
          transaction_type: weightId.transaction_type,
          location: this.selectedLocation ? this.selectedLocation : "",
          print_count: weightId.print_count
        };

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/print`,
          data: {
            ...data,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            printed_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          this.$bvModal.hide("confirm-print-modal");
        }
      } catch (e) {
        console.log(e.response.data.error);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },
    async clickPrint(items, index) {
      try {
        if (
          !this.accessRightExists("print report") ||
          items.status.toLowerCase() !== "completed"
        ) {
          console.log("not allowed");
        } else {
          this.showLoading = true;

          const res = await axios({
            method: "POST",
            url: `${this.$axios.defaults.baseURL}/transactions/selectPrintCount`,
            data: {
              id: items.transaction_id,
              mode: localStorage.mode,
              modules: JSON.parse(localStorage.modules)
            },
            headers: {
              authorization: "Bearer " + localStorage.session
            }
          });

          this.showLoading = false;

          if (res.status == 201) {
            this.printed_documents = res.data.posted.printed_documents;
            this.print_limit = res.data.posted.print_limit;
          }

          this.selectedLocation = null;
          this.selectedRowTransactionType = items.transaction_type;
          this.itemsWS = items;
          this.$bvModal.show("confirm-print-modal");
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },
    async print() {
      const data = this.computedReports;
      let prints = []; // hold data to be print

      for (let i = 0; i < data.length; i++) {
        prints.push({
          date: data[i].created_at,
          transaction_id: data[i].transaction_id,
          plate_number: data[i].plate_number,
          supplier: data[i].supplier,
          item: data[i].raw_material,
          driver: data[i].driver,
          ib: data[i].inbound_weight,
          ob: data[i].outbound_weight,
          net: data[i].net_weight,
          remarks: data[i].remarks ? data[i].remarks : "N/A",
          number_of_bags: data[i].quantity
        });
      }

      const doc = new jsPDF({ orientation: "l" });
      doc.setFontSize(18);
      doc.text("Biotech Farms Incorporated", 115, 12);
      doc.setFontSize(12);
      doc.text("TRANSACTIONS REPORTS", 125, 17);
      doc.autoTable({
        theme: "striped",
        headStyles: { fillColor: [40, 167, 69] },
        margin: { top: 2, right: 2, bottom: 0, left: 2 },
        styles: { fontSize: 6, cellWidth: "auto" },
        columns: [
          { header: "Date Created", dataKey: "date" },
          { header: "Ticket Number", dataKey: "transaction_id" },
          { header: "Supplier", dataKey: "supplier" },
          { header: "Item", dataKey: "item" },
          { header: "Quantity", dataKey: "number_of_bags" },
          { header: "Driver", dataKey: "driver" },
          { header: "Plate Number", dataKey: "plate_number" },
          { header: "Inbound Weight", dataKey: "ib" },
          { header: "Outbound Weight", dataKey: "ob" },
          { header: "Net Weight", dataKey: "net" },
          { header: "Remarks", dataKey: "remarks" }
        ],
        body: prints,
        margin: { top: 28 }
      });

      window.open(doc.output("bloburl"), "_blank");
    },
    intToTime(i) {
      if (i) {
        const str = i.toString();
        const len = str.length;

        let time = null;

        if (len == 4) {
          const hour = str.substring(0, 2);
          const min = str.substring(2, 4);
          time = `${hour}:${min}`;
          return time;
        } else if (len == 3) {
          const hour = str.substring(0, 1);
          const min = str.substring(1, 3);
          time = `0${hour}:${min}`;
          return time;
        } else {
          return `00:00`;
        }
      } else {
        return `00:00`;
      }
    },
    exportReports() {
      let data = [];

      const items = this.computedReports;

      for (let i = 0; i < items.length; i++) {
        data.push({
          ["Date Created"]: items[i].created_at,
          ["Ticket Number"]: items[i].transaction_id,
          ["Transaction Type"]: items[i].formatted_transaction_type,
          Supplier: items[i].supplier ? items[i].supplier : "",
          Item: items[i].raw_material ? items[i].raw_material : "",
          ["Quantity"]: items[i].quantity,
          Driver: items[i].driver ? items[i].driver : "",
          ["Plate Number"]: items[i].plate_number ? items[i].plate_number : "",
          ["Inbound Weight"]: items[i].inbound_weight
            ? items[i].inbound_weight
            : 0,
          ["Inbound Date Time"]: items[i].date_inbound,

          ["Outbound Weight"]: items[i].outbound_weight
            ? items[i].outbound_weight
            : 0,
          ["Outbound Date Time"]: items[i].date_outbound,
          ["NET Weight"]: items[i].net_weight,
          ["Remarks"]: items[i].remarks ? items[i].remarks : "N/A"
        });
      }

      const csv = Papa.unparse(data, { header: true });
      let csvData = new Blob([csv], { type: "text/csv;charset=utf-8;" });
      let csvURL = null;
      if (navigator.msSaveBlob) {
        csvURL = navigator.msSaveBlob(
          csvData,
          `${this.dateRange.date_from +
            " - " +
            this.dateRange.date_to +
            " Report"}.csv`
        );
      } else {
        csvURL = window.URL.createObjectURL(csvData);
      }
      var tempLink = document.createElement("a");
      tempLink.href = csvURL;
      tempLink.setAttribute(
        "download",
        `${this.dateRange.date_from +
          " - " +
          this.dateRange.date_to +
          " Report"}.csv`
      );
      tempLink.click();
    },
    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    redirect(row) {
      this.$router.push(`/transaction/${row.item.transaction_number}`);
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    // convert integer time to time format
    async getReports() {
      try {
        this.items = [];
        this.selectedTransactionTypeFilter = [];
        this.transactionTypeFilters = [];

        this.selectedStatusFilter = [];
        this.statusFilters = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/reports/select`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            from: this.dateRange.date_from,
            to: this.dateRange.date_to,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const d = res.data.view;

          for (let i = 0; i < d.length; i++) {
            let net;

            if (d[i].transaction_sub_type == "withdrawal") {
              net = d[i].outbound_weight - d[i].inbound_weight;
            } else {
              net = d[i].inbound_weight - d[i].outbound_weight;
            }

            this.items.push({
              created_at: moment(d[i].date_created).format(
                "MMM DD, YYYY hh:mm A"
              ),
              status: this.convertCase(d[i].transaction_status),
              transaction_id: d[i].transaction_id,
              plate_number: d[i].plate_number,
              supplier: d[i].supplier_name,
              raw_material: d[i].item,
              driver: this.convertCase(d[i].driver_name),
              driver_first_name: d[i].driver_first_name,
              driver_last_name: d[i].driver_last_name,
              inbound_weight: this.commaSeparate(d[i].inbound_weight),
              outbound_weight: this.commaSeparate(d[i].outbound_weight),
              date_inbound: moment(d[i].inbound_date_weight).format(
                "MMM DD, YYYY hh:mm A"
              ),
              date_outbound: moment(d[i].outbound_date_weight).format(
                "MMM DD, YYYY hh:mm A"
              ),
              supplier_address: d[i].supplier_address,
              quantity: `${d[i].number_of_bags ? d[i].number_of_bags : ""} ${
                d[i].unit_of_measure
                  ? this.convertCase(d[i].unit_of_measure)
                  : ""
              }`,
              number_of_bags: d[i].number_of_bags,
              signature: d[i].outbound_signature,
              remarks: d[i].remarks,
              weigher: d[i].weigher_name,
              transaction_type: this.convertCase(d[i].transction_type),
              net_weight: this.commaSeparate(net.toFixed(3)),
              formatted_transaction_type: `${this.convertCase(
                d[i].transction_type
              )} ${
                d[i].transaction_sub_type
                  ? "(" + this.convertCase(d[i].transaction_sub_type) + ")"
                  : ""
              }`,
              uom_id: d[i].uom_id,
              print_count: d[i].print_count
            });

            if (
              !this.transactionTypeFilters.includes(
                this.convertCase(d[i].transction_type)
              )
            ) {
              this.transactionTypeFilters.push(
                this.convertCase(d[i].transction_type)
              );

              if (d[i].transction_type !== "others") {
                this.selectedTransactionTypeFilter.push(
                  this.convertCase(d[i].transction_type)
                );
              }
            }

            if (
              !this.statusFilters.includes(
                this.convertCase(d[i].transaction_status)
              )
            ) {
              this.statusFilters.push(
                this.convertCase(d[i].transaction_status)
              );

              if (d[i].transaction_status === "completed") {
                this.selectedStatusFilter.push(
                  this.convertCase(d[i].transaction_status)
                );
              }
            }
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get reports: ", e);
      }
    },
    convertCase(str) {
      if (str) {
        const splitStr = str.toLowerCase().split(" ");
        for (let i = 0; i < splitStr.length; i++) {
          splitStr[i] =
            splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
        }
        return splitStr.join(" ");
      }
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      this.getReports();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getReports();

      this.totalRows = this.items.length;
    }
  },
  layout: "sidebar"
};
</script>

<style >
.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

@media print {
  #printable {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  html {
    background-color: #eee;
  }

  .color1 {
    color: #00803e;
  }
  .icon {
    margin-left: 5px;
    margin-right: 10px;
  }
  .button1 {
    background-color: #00803e;
    color: white;
  }
  .button2 {
    background-color: #ff6600;
    color: white;
  }
  .button3 {
    background-color: gray;
    color: white;
  }
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
  z-index: 999999;
}
</style>
