<template>
  <div id="app">
    <Loading v-if="showLoading" />

    <b-card>
      <b-row class="text-center">
        <b-col></b-col>
        <b-col cols="1">
          <b-img src="/biotech.png" fluid />
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-row class="text-center">
        <b-col></b-col>
        <b-col cols="6">
          <h3>MATERIAL REJECTION REPORT</h3>
          <p style="position:relative;bottom:13px">{{businessEntity}}</p>
        </b-col>
        <b-col></b-col>
      </b-row>
      <b-card bg-variant="light">
        <b-row>
          <b-col>
            <small class="ml-1">Item</small>
            <b-form-input v-model="item" style="font-size:13px" disabled></b-form-input>
          </b-col>

          <b-col>
            <small class="ml-1">MRR No.</small>
            <div class="text-center">
              <b-form-input v-model="mrr_no" style="font-size:13px" disabled></b-form-input>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <small class="ml-1">Supplier</small>
            <b-form-input v-model="supplier_code" style="font-size:13px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Date Delivered</small>
            <b-form-input v-model="date" style="font-size:13px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">QC Control #</small>
            <b-form-input v-model="qc_cn" style="font-size:13px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Delivery Report No.</small>
            <b-form-input v-model="delivery_report_no" style="font-size:13px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Sales Invoice No.</small>
            <b-form-input v-model="sales_invoice_no" style="font-size:13px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">Quantity</small>
            <b-form-input v-model="quantity" style="font-size:13px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">PO No.</small>
            <b-form-input v-model="po_no" style="font-size:13px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">Truck Plate No.</small>
            <b-form-input v-model="plate_number" style="font-size:13px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">FINDINGS</small>
            <b-form-input style="font-size:13px; height: 100px" disabled></b-form-input>
          </b-col>
          <b-col>
            <small class="ml-1">SPECIFICATIONS</small>
            <b-form-input style="font-size:13px; height: 100px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="ml-1">Remarks</small>
            <b-form-input style="font-size:13px" disabled></b-form-input>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col cols="4">
            <b-row class="mt-3">
              <b-col cols="12">
                <div>
                  <strong>Issued By:</strong>
                </div>
              </b-col>
              <b-col cols="12">
                <br />
                <b-row align-h="center">
                  <img class="signature-image" :src="this.evaluated_signature_phy" alt />
                </b-row>
                <b-row align-h="center">
                  <span class="signature">{{this.evaluated_by_physical}}</span>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="4">
            <b-row class="mt-3">
              <b-col cols="12">
                <div>
                  <strong>Noted By:</strong>
                </div>
              </b-col>
              <b-col cols="12">
                <br />
                <b-row align-h="center">
                  <img class="signature-image" :src="this.certified_signature" alt />
                </b-row>
                <b-row align-h="center">
                  <span class="signature">{{this.certified_by_chemical}}</span>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
          <b-col cols="4">
            <b-row class="mt-3">
              <b-col cols="12">
                <div>
                  <strong>Approved By:</strong>
                </div>
              </b-col>
              <b-col cols="12">
                <br />
                <b-row align-h="center">
                  <img class="signature-image" :src="this.noted_signature_phy" alt />
                </b-row>
                <b-row align-h="center">
                  <span class="signature">{{this.noted_by_physical}}</span>
                </b-row>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-card>
    </b-card>

    <b-alert
      id="errorAlert2"
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{ errorMsg }}</b-alert>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import moment from "moment";

export default {
  components: {
    Loading
  },
  data() {
    return {
      showLoading: false,
      item: null,
      mrr_no: null,
      supplier_code: null,
      code: null,
      date: null,
      qc_cn: null,
      delivery_report_no: null,
      sales_invoice_no: null,
      quantity: null,
      po_no: null,
      plate_number: null,
      businessEntity: null,
      evaluated_signature_phy: null,
      evaluated_by_physical: null,
      certified_signature: null,
      certified_by_chemical: null,
      noted_signature_phy: null,
      noted_by_physical: null,
      dismissSecs: 3,
      errorMsg: null,
      dismissCountDownErr: 0
    };
  },
  async created() {
    this.code = this.$route.params.code;
    await this.fetchTransaction();
  },
  methods: {
    async fetchTransaction() {
      try {
        this.showLoading = true;

        const req = await axios({
          method: "POST",
          url: `${process.env.fsqrURL}/transactions/transactions/find_transaction`,
          data: {
            employee_id: "truck_scale",
            supplier_code: this.code,
            getWeight: true
          },
          headers: {
            authorization: "Bearer "
          }
        });
        this.showLoading = false;
        if (req.status == 200) {
          const fsqr = req.data.transactions[0];
          this.item = fsqr.bir[0].items[0].description
            ? fsqr.bir[0].items[0].description
            : "N/A";
          this.mrr_no = fsqr.rmaf[0].material_rejection_report_id
            ? fsqr.rmaf[0].material_rejection_report_id
            : "";
          this.supplier_code = fsqr.supplier_code ? fsqr.supplier_code : "";
          this.date = moment(fsqr.created_at).format("MMM DD, YYYY hh:mm A");
          this.qc_cn = fsqr.qc_control_number ? fsqr.qc_control_number : "";
          this.delivery_report_no = fsqr.delivery_receipt_id
            ? fsqr.delivery_receipt_id
            : "";
          this.sales_invoice_no = "";
          this.quantity = fsqr.no_of_bags ? fsqr.no_of_bags : 0;
          this.po_no = fsqr.purchase_order_id ? fsqr.purchase_order_id : "";
          this.plate_number = fsqr.plate_number ? fsqr.plate_number : "";
          this.businessEntity = "";
          this.evaluated_signature_phy = fsqr.rmaf[0].physical_analysis[0]
            .evaluated_signature
            ? `${process.env.fsqrURL}/${fsqr.rmaf[0].physical_analysis[0].evaluated_signature}`
            : "";
          this.evaluated_by_physical = ""; // get name
          this.certified_signature = fsqr.rmaf[0].physical_analysis[0]
            .certified_signature
            ? `${process.env.fsqrURL}/${fsqr.rmaf[0].physical_analysis[0].certified_signature}`
            : "";
          this.certified_by_chemical = ""; // get name
          this.noted_signature_phy = fsqr.rmaf[0].physical_analysis[0]
            .noted_signature
            ? `${process.env.fsqrURL}/${fsqr.rmaf[0].physical_analysis[0].noted_signature}`
            : "";
          this.noted_by_physical = ""; // get name
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = "Something went wrong, please try again.";
        this.showAlertErr();
        console.log("Error on fetch: ", e);
      }
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    }
  }
};
</script>

<style scoped>
.err {
  background-color: #f12d2d;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.signature {
  float: left;
  margin-top: -2rem;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
p {
  color: black;
}

.signature-image {
  width: 80%;
  margin-top: -2rem;
  float: left;
}
@media print {
  .report {
    margin-left: 0rem;
    margin-right: 8rem;
  }
}
</style>