<template>
  <ActivityLogsTable />
</template>

<script>
import ActivityLogsTable from "~/components/Admin/ActivityLogsTable.vue";
export default {
  layout: "sidebar",
  components: {
    ActivityLogsTable
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view activity logs" }
  },
  data() {
    return {};
  },

  methods: {}
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
/* .right {
  position: absolute;
  left: 25px;
} */
</style>
