<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <!-- <button class="openbtn" @click="openNav()">☰</button>   -->
          <b-img src="/ts.png" style="width:100%; height:100%" center></b-img>
        </div>
        <hr class="hr" />
        <!--         
          <b-tab class="button1" pills v-for="(link, index) in links" :key="index" active>
            <router-link :to="link.path">
              <font-awesome-icon :icon="link.icon" class="icon" />
                {{link.description}}
            </router-link>
        </b-tab>-->

        <ul class="list-unstyled">
          <li v-if="role !== 'document controller' && mode == 1">
            <router-link :id="'sb-default'" to="/default">
              <font-awesome-icon icon="tachometer-alt" class="icon" />Dashboard
            </router-link>
          </li>

          <li v-if="checkAdmin">
            <a
              id="sb-admin"
              v-b-toggle.collapse-1
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <font-awesome-icon icon="user-cog" class="icon" style="height:20px;width:20px" />Admin Dashboard
            </a>

            <b-collapse id="collapse-1" class="mt-1 ml-2">
              <li v-for="(adminsubmenu, index) in activeadminsubmenus" :key="index">
                <router-link :id="'sb-' + index" :to="adminsubmenu.path">
                  <font-awesome-icon
                    :icon="adminsubmenu.icon"
                    class="icon"
                    style="height:20px;width:20px"
                  />
                  {{ adminsubmenu.description }}
                </router-link>
              </li>
            </b-collapse>
          </li>

          <li v-for="(link, index) in activelinks" :key="index">
            <router-link :id="'sb1-' + index" :to="link.path">
              <font-awesome-icon :icon="link.icon" class="icon" style="height:20px;width:20px" />
              {{ link.description }}
            </router-link>
          </li>
        </ul>
      </div>
    </nav>
    <!-- HEADER NAVIGATION BAR-->

    <div class="right">
      <b-row class="ml-3">
        <span style="margin-top: 2px; position: relative;">
          <b-badge
            v-if="notifCounter > 0"
            variant="danger"
            style="position: relative; left: 65px; top: -10px; z-index: 10000;"
          >{{notifCounter}}</b-badge>
          <b-dropdown
            size="lg"
            variant="link"
            toggle-class="text-decoration-none"
            no-caret
            ref="ndropdown"
          >
            <template v-slot:button-content>
              <font-awesome-icon
                style="margin-top:2px; color:black;height:25px;width:25px"
                icon="bell"
                class="icon1"
              />
            </template>

            <span class="ml-2">
              <b>Notifications</b>
            </span>

            <!-- <b-dropdown-divider></b-dropdown-divider> -->

            <ul class="noti-body mt-2">
              <li
                v-if="notifs.length == 0"
                class="noti-text-read"
              >You have no notifications this day.</li>

              <li
                v-for="(notif, index) in notifs"
                :key="index"
                :class="notif.is_read ? 'noti-text-read' : 'noti-text'"
                @click="notifClicked(notif)"
              >{{notif.msg}}</li>
            </ul>
            <div class="noti-footer" @click="markAllAsRead">Mark all as read</div>
          </b-dropdown>
        </span>
        <span>
          <b-button
            class="mt-1"
            style="color:#000; background-color:#fff; border-color: #fff"
            target="_blank"
            @click="openPdf()"
          >
            <font-awesome-icon
              style="margin-top:2px; color:black;height:25px;width:25px"
              icon="question-circle"
              class="icon1"
            />
            <span style="position:relative; bottom:5px">User Guide</span>
          </b-button>
        </span>
        <span style="margin-top:12px;position:relative;right:8px; padding-left:10px">
          <font-awesome-icon style="color:black;height:26px;width:26px" icon="user" class="icon1" />
        </span>
        <span style="position:relative;right:22px; padding-left:2rem">
          <b-row>
            <b style="margin-top:5px;font-size:10px;font-size:12px">{{ user }}&nbsp;</b>
          </b-row>
          <b-row>
            <b-badge class="primary" style="margin-top:2px;font-size:9px">
              {{
              role
              }}
            </b-badge>
          </b-row>
        </span>
        <span id="btnLO" align="right" style="margin-top:5px; position:relative;">
          <b-button id="btnLogout" variant="none" @click="logout">
            <font-awesome-icon style="color:red;height:22px;width:22px" icon="power-off" />
          </b-button>
        </span>
      </b-row>
    </div>

    <div style="padding-left:15rem; padding-top:3rem;">
      <nuxt />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import io from "socket.io-client";
import moment from "moment";

export default {
  async created() {
    // notifs
    await this.connectSocket();
    await this.displayNotifs();
    this.mode = localStorage.mode;
    this.role = localStorage.role;
    this.modules = JSON.parse(localStorage.modules);

    //loop adminmenus
    for (let i = 0; i < this.adminsubmenus.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.adminsubmenus[i].action ===
              this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === true &&
            this.modules[i2].actions[i3].actionstatus === true
          ) {
            this.activeadminsubmenus.push(this.adminsubmenus[i]);
          }
        }
      }
    }

    //loop menus
    for (let i = 0; i < this.links.length; i++) {
      //loop through modules localstorage
      for (let i2 = 0; i2 < this.modules.length; i2++) {
        for (let i3 = 0; i3 < this.modules[i2].actions.length; i3++) {
          if (
            this.links[i].action === this.modules[i2].actions[i3].actionname &&
            this.modules[i2].modulestatus === true &&
            this.modules[i2].actions[i3].actionstatus === true
          ) {
            this.activelinks.push(this.links[i]);
          }
        }
      }
    }
  },
  data() {
    return {
      notifCounter: 0,
      notifs: [],
      myInterval: null,
      socket: null,
      role: "Truck Scale Controller",
      user: localStorage.name,
      modules: [],
      activeadminsubmenus: [],
      activelinks: [],
      mode: null,
      adminsubmenus: [
        // {
        //   path: "/admin/modules",
        //   icon: "cubes",
        //   description: "Modules",
        //   action: "view modules"
        // },
        // {
        //   path: "/admin/actions",
        //   icon: "tasks",
        //   description: "Actions",
        //   action: "view actions"
        // },
        {
          path: "/admin/accessrights",
          icon: "fingerprint",
          description: "Roles & Access",
          action: "view roles"
        },
        {
          path: "/admin/user",
          icon: "id-badge",
          description: "Users",
          action: "view users"
        },
        {
          path: "/admin/unitofmeasures",
          icon: "balance-scale",
          description: "Unit Of Measures",
          action: "view unit of measures"
        },
        // {
        //   path: "/truckscale",
        //   icon: "truck-loading",
        //   description: "Truckscale",
        //   action: "view truckscales"
        // },
        {
          path: "/admin/activitylogs",
          icon: "mouse",
          description: "Activity Logs",
          action: "view activity logs"
        },
        {
          path: "/admin/printlogs",
          icon: "print",
          description: "Print Logs",
          action: "view print logs"
        }
      ],
      links: [
        {
          path: "/transaction",
          icon: "file-signature",
          description: "Transactions",
          action: "view transactions"
        },
        {
          path: "/truck",
          icon: "truck",
          description: "Trucks",
          action: "view trucks"
        },
        {
          path: "/driver",
          icon: "user-circle",
          description: "Drivers",
          action: "view drivers"
        },
        {
          path: "/report",
          icon: "file-alt",
          description: "Reports",
          action: "view reports"
        },
        {
          path: "/request",
          icon: "user-edit",
          description: "Requests",
          action: "view requests"
        }
      ],

      forTransmittalNotif: 0 // notif for transmittal
    };
  },

  methods: {
    async markAllAsRead() {
      try {
        let temp = [];

        for (let i = 0; i < this.notifs.length; i++) {
          if (!this.notifs[i].is_read) {
            temp.push(this.notifs[i].id);
          }
        }

        if (temp.length > 0) {
          this.socket.emit("notif read all", {
            notifs: temp
          });

          for (let i = 0; i < this.notifs.length; i++) {
            this.notifs[i].is_read = true;
          }

          this.notifCounter = 0;
        }
      } catch (e) {
        console.log(e);
      }
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    async notifClicked(data) {
      try {
        if (!data.is_read) {
          this.socket.emit("notif read", {
            id: data.id
          });

          this.socket.emit("get notifs", {
            user: localStorage.id
          });
        }

        this.$refs.ndropdown.hide(true);
        this.$router.push(`/request`);
      } catch (e) {
        console.log(e);
      }
    },
    openPdf() {
      if (localStorage.role == "controller") {
        window.open("/controller_guide.pdf");
      } else if (localStorage.role == "supervisor") {
        window.open("/supervisor_guide.pdf");
      } else if (localStorage.role == "admin") {
        console.log("coming soon...");
      } else if (localStorage.role == "accounting") {
        window.open("/accounting_guide.pdf");
      }
    },

    async logout() {
      // stop the interval to emit to socket;
      await clearInterval(this.myInterval);
      await localStorage.clear();
      this.$router.push(`/`);
    },

    openNav() {
      document.getElementById("sidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    },

    async connectSocket() {
      try {
        this.socket = io.connect(`${this.$axios.defaults.baseURL}`); //connect to server

        //initial
        this.socket.emit("get notifs", {
          user: localStorage.id
        });

        this.myInterval = setInterval(() => {
          this.socket.emit("get notifs", {
            user: localStorage.id
          });
        }, 5000);
      } catch (e) {
        console.log(e);
      }
    },

    async displayNotifs() {
      try {
        this.socket.on("receive notifs", data => {
          let temp = [];

          const notifs = data.notifs;

          let counter = 0;

          for (let i = 0; i < notifs.length; i++) {
            let msg,
              pre = "";

            if (localStorage.id == notifs[i].created_by) {
              pre = "Your request";
            } else {
              pre = "Request";
            }

            if (notifs[i].request_status === "pending") {
              msg = `Request from ${notifs[i].first_name} ${
                notifs[i].last_name
              } received at ${this.formatDate(notifs[i].date)}.`;
            } else if (notifs[i].request_status === "validated") {
              // if (localStorage.role === "accounting") {
              //   msg = `Your request for ticket ${
              //     notifs[i].transaction_id
              //   } have been ${notifs[i].request_status} by ${
              //     notifs[i].first_name
              //   } ${notifs[i].last_name} at ${this.formatDate(
              //     notifs[i].date
              //   )}.`;
              // } else if (localStorage.role === "supervisor") {
              //   msg = `Request for ticket ${
              //     notifs[i].transaction_id
              //   } have been ${notifs[i].request_status} by ${
              //     notifs[i].first_name
              //   } ${notifs[i].last_name} at ${this.formatDate(
              //     notifs[i].date
              //   )}.`;
              // }

              msg = `${pre} for ticket ${notifs[i].transaction_id} have been ${
                notifs[i].request_status
              } by ${notifs[i].first_name} ${
                notifs[i].last_name
              } at ${this.formatDate(notifs[i].date)}.`;
            } else if (
              notifs[i].request_status === "approved" ||
              notifs[i].request_status === "disapproved"
            ) {
              // if (localStorage.role === "controller") {
              //   msg = `Request for ticket ${
              //     notifs[i].transaction_id
              //   } have been ${notifs[i].request_status} by ${
              //     notifs[i].first_name
              //   } ${notifs[i].last_name} at ${this.formatDate(
              //     notifs[i].date
              //   )}.`;
              // } else if (localStorage.role === "accounting") {
              //   msg = `Your request for ticket ${
              //     notifs[i].transaction_id
              //   } have been ${notifs[i].request_status} by ${
              //     notifs[i].first_name
              //   } ${notifs[i].last_name} at ${this.formatDate(
              //     notifs[i].date
              //   )}.`;
              // }
              msg = `${pre} for ticket ${notifs[i].transaction_id} have been ${
                notifs[i].request_status
              } by ${notifs[i].first_name} ${
                notifs[i].last_name
              } at ${this.formatDate(notifs[i].date)}.`;
            }

            if (!notifs[i].is_read) {
              counter++;
            }

            temp.push({ id: notifs[i].id, msg, is_read: notifs[i].is_read });
          }

          this.notifs = temp;

          if (counter !== this.notifCounter) {
            this.$store.commit("setData", !this.$store.getters["getData"]);
          }

          this.notifCounter = counter;
        });
      } catch (e) {
        console.log(e);
      }
    },

    async displayDatas(val) {
      try {
        this.forTransmittalNotif = val.count;
      } catch (e) {
        console.log("Error: ", e);
      }
    }
  },

  computed: {
    checkAdmin() {
      for (let i = 0; i < this.modules.length; i++) {
        if (this.modules[i].modulename.toLowerCase() === "admin") {
          return true;
        }
      }
      return false;
    }
  }
};
</script>

<style scoped>
a[data-toggle="collapse"] {
  position: relative;
  /* font-size: large; */
}
.dropdown-toggle::after {
  display: fixed;
  position: absolute;
  top: 50%;
  right: 10px;
  /* transform: translateY(-50%); */
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.primary {
  background-color: #00a651;
}
.icon {
  margin-left: 10px;
  margin-right: 13px;
}
.icon1 {
  margin-left: 10px;
  margin-right: 5px;
}
.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  border-radius: 3px;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too #11634a*/
  background-color: #01401f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* display: flex;
  width: 100%;
  align-items: stretch; */
}
#sidebar.active {
  margin: auto;
}
#sidebar .sidebar-header {
  padding: 10px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: #00803e;
  border-radius: 3px;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #00803e;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}
.content {
  width: 80%;
  position: absolute;
  left: 16rem;
  top: 2rem;
}
.right {
  position: absolute;
  right: 25px;
}

.bell {
  position: relative;
  left: 1vh;
  top: 0vh;
  padding: 0;
  border: none;
  background: none;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noti-body {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 220px;
  overflow: auto;
  width: 20rem;
  border-top: 1px solid #ddd;
}

.noti-text {
  font-size: 13px;
  display: block;
  cursor: pointer;
  font: 11px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 5%;
  line-height: 15px;
  background-color: #e9eff2;
  border-bottom: 1px solid #ddd;
}

.noti-text-read {
  font-size: 13px;
  display: block;
  cursor: pointer;
  font: 11px normal "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 5%;
  line-height: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.noti-footer {
  font-size: 13.5px;
  cursor: pointer;
  text-align: center;
  font: bold "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid #ddd;
  padding-top: 6px;
}
</style>
