<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">ACTIVITY LOGS</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <div id="printTable">
        <b-table
          id="table"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template v-slot:cell(details)="row">
            <b-button id="btnDetails" size="sm" @click="row.toggleDetails" class="mr-2">Details</b-button>
          </template>

          <template v-slot:row-details="row">
            <b-row class="py-4">
              <b-col cols="6">
                <b-card
                  style="border-radius:8px; padding:0px; border-top: 5px solid #00A651; font-size: 14px;"
                >
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">Previous</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li style="border-radius: 0px;padding-left:1rem; background-color: #fff">
                      <div
                        keyText
                        v-for="(value, name) in row.item.oldValues"
                        :key="name"
                        class="ml-1 mr-1 mb-2 mt-2"
                      >
                        <b-form inline>
                          <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />&nbsp;
                          <div :style="getHighlightCss(name, row.item.changedVals)">
                            <strong style="color:#00401F;" class="key">{{name}}:</strong>
                            <span style="color:#00401F;" v-if="(name == 'token' || name == 'draft_data') && value">
                              &nbsp;{{value.slice(0, 60)}}
                              <br />
                              {{value.slice(60, 120)}}
                              <br />
                              {{value.slice(120)}}
                            </span>
                            <span style="color:#00401F;" v-else>&nbsp;{{value}}</span>
                          </div>
                        </b-form>
                      </div>
                    </li>
                  </ul>
                </b-card>
              </b-col>

              <b-col cols="6">
                <b-card
                  style="border-radius:8px; padding:0px; border-top: 5px solid #00A651; font-size: 14px;"
                >
                  <label>
                    <strong style="color:#00A651; font-size:1.1rem" class="ml-3">New</strong>
                  </label>

                  <ul class="list-unstyled mt-2">
                    <li style="border-radius: 0px;padding-left:1rem; background-color: #fff">
                      <div
                        keyText
                        v-for="(value, name) in row.item.newValues"
                        :key="name"
                        class="ml-1 mr-1 mb-2 mt-2"
                      >
                        <b-form inline>
                          <font-awesome-icon style="font-size:11px; color: #00A651" icon="circle" />&nbsp;
                          <div :style="getHighlightCss(name, row.item.changedVals)">
                            <strong style="color:#00401F;" class="key">{{name}}:</strong>
                            <span style="color:#00401F;" v-if="(name == 'token' || name == 'draft_data') && value">
                              &nbsp;{{value.slice(0, 60)}}
                              <br />
                              {{value.slice(60, 120)}}
                              <br />
                              {{value.slice(120)}}
                            </span>
                            <span style="color:#00401F;" v-else>&nbsp;{{value}}</span>
                          </div>
                        </b-form>
                      </div>
                    </li>
                  </ul>
                </b-card>
              </b-col>
            </b-row>
          </template>
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>
    </b-card>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
export default {
  components: { DateRangePicker, Loading },

  async created() {
    await this.getTruckScales();
    await this.getTransactionSubTypes();
    await this.getItems();
    await this.getSuppliers();
    await this.getUsers();
    await this.getTruckInfos();
    await this.getUoms();
    await this.getDrivers();
    await this.getTransactionTypes();
    await this.getLogs();
    this.totalRows = this.items.length;
  },

  data() {
    return {
      showLoading: false,

      opens: "center",
      currentPage: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      items: [],

      fields: [
        {
          key: "employee",
          label: "Employee",
          sortable: true
        },
        {
          key: "action",
          label: "Action",
          sortable: true,
          class: "text-center"
        },
        {
          key: "table",
          label: "Table",
          sortable: true,
          class: "text-center"
        },
        {
          key: "key",
          label: "Key",
          sortable: true,
          class: "text-center"
        },
        {
          key: "created_at",
          label: "Date",
          sortable: true,
          class: "text-center"
        },
        {
          key: "details",
          label: "Details",
          sortable: true,
          class: "text-center"
        }
      ],
      perPage: 10,
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],

      uoms: [],
      transactionTypes: [],
      drivers: [],
      truckInfos: [],
      employees: [],
      suppliers: [],
      mItems: [],
      transactionSubTypes: [],
      truckScales: []
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    getHighlightCss(name, array) {
      if (array.includes(name)) {
        return "background-color:yellow; ";
      } else {
        return "background-color:none;";
      }
    },

    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },

    async getDrivers() {
      try {
        this.showLoading = true;

        this.drivers = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/drivers/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            this.drivers.push({
              id: data[i].id,
              value: `${data[i].first_name} ${data[i].last_name}`
            });
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },

    async getUsers() {
      try {
        this.employees = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        const v = res.data.view;

        for (let i = 0; i < v.length; i++) {
          this.employees.push({
            id: v[i].id,
            value: `${v[i].first_name} ${v[i].last_name}`
          });
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error select all employee: ", e);
      }
    },

    async getTruckInfos() {
      try {
        this.showLoading = true;
        this.truckInfos = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.truckInfos.push({
              id: data[i].truck_info_id,
              value: data[i].plate_number
            });
          }
        }
      } catch (e) {
        console.log("Error get truck info", e);
      }
    },

    async getTransactionTypes() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const data = res.data.view;

          for (let i = 0; data.length; i++) {
            this.transactionTypes.push({
              id: data[i].id,
              value: data[i].name
            });
          }
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    async getUoms() {
      try {
        this.showLoading = true;

        this.uoms = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        const v = res.data.view;

        if (res.status == 200) {
          for (let i = 0; i < v.length; i++) {
            this.uoms.push({
              id: v[i].id,
              value: v[i].name
            });
          }
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    getValue(field, value) {
      if (["uom_id"].includes(field) && value != "" && value) {
        return this.uoms.find(uom => uom.id == value).value;
      } else if (["transaction_type_id"].includes(field) && value != "") {
        return this.transactionTypes.find(
          transactionType => transactionType.id == value
        ).value;
      } else if (["driver_id"].includes(field) && value != "" && value) {
        return this.drivers.find(driver => driver.id == value).value;
      } else if (["truck_info_id"].includes(field) && value != "" && value) {
        return this.truckInfos.find(truckInfo => truckInfo.id == value).value;
      } else if (
        ["created_by", "updated_by", "weigher"].includes(field) &&
        value != "" &&
        value
      ) {
        return this.employees.find(employee => employee.id == value).value;
      } else if (["supplier"].includes(field) && value != "" && value) {
        return this.suppliers.find(supplier => supplier.id == value).value;
      } else if (["item"].includes(field) && value != "" && value) {
        return this.mItems.find(mItem => mItem.id == value).value;
      } else if (
        ["transaction_sub_type"].includes(field) &&
        value != "" &&
        value
      ) {
        return this.transactionSubTypes.find(
          transactionSubType => transactionSubType.id == value
        ).value;
      } else if (["truckscale_id"].includes(field) && value != "" && value) {
        return this.truckScales.find(truckScale => truckScale.id == value)
          .value;
      } else {
        return false;
      }
    },

    async getTruckScales() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-scale/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const v = res.data.view;

          for (let i = 0; i < v.length; i++) {
            this.truckScales.push({
              id: v[i].id,
              value: v[i].truckscale_name
            });
          }
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    async getTransactionSubTypes() {
      try {
        this.showLoading = true;
        this.transactionSubTypes = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transaction-type/sub/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        let v = res.data.view;

        for (let i = 0; i < v.length; i++) {
          this.transactionSubTypes.push({
            id: v[i].id,
            value: v[i].description
          });
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    async getItems() {
      try {
        this.showLoading = true;
        this.mItems = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.mItems.push({
              id: e.id,
              value: e.name
            });
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },

    async getSuppliers() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/suppliers/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];
            this.suppliers.push({
              id: e.id,
              value: e.name
            });
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },

    async getLogs() {
      try {
        this.items = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/select-logs`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            dateRange: this.dateRange
          }
        });
        this.showLoading = false;

        if (res.status === 200) {
          for (let i = 0; i < res.data.view.length; i++) {
            let changedVals = [];

            let name = `${res.data.view[i].first_name} ${res.data.view[i].last_name}`;

            let prevVal = res.data.view[i].old_value;
            let newVal = res.data.view[i].new_value;

            if (!prevVal) {
              let obj = {};
              for (let i = 0; i < Object.entries(newVal).length; i++) {
                obj[Object.entries(newVal)[i][0]] = "";
              }
              prevVal = obj;
            }

            for (let i = 0; i < Object.entries(prevVal).length; i++) {
              const idValuePrev = this.getValue(
                Object.entries(prevVal)[i][0],
                Object.entries(prevVal)[i][1]
              );
              const idValueNew = this.getValue(
                Object.entries(newVal)[i][0],
                Object.entries(newVal)[i][1]
              );

              if (idValuePrev) {
                prevVal[Object.entries(prevVal)[i][0]] =
                  Object.entries(prevVal)[i][1] + ` (${idValuePrev})`;
              }

              if (idValueNew) {
                newVal[Object.entries(newVal)[i][0]] =
                  Object.entries(newVal)[i][1] + ` (${idValueNew})`;
              }

              if (
                Object.entries(prevVal)[i][1] != Object.entries(newVal)[i][1]
              ) {
                changedVals.push(Object.entries(prevVal)[i][0]);
              }
            }

            let key = newVal.id

            if(res.data.view[i].table == 'inbound_transactions' || res.data.view[i].table == 'outbound_transactions') {
              key = `Ticket No. ${newVal.transaction_id}`
            }

            if(res.data.view[i].table == 'transactions') {
              key = `Ticket No. ${newVal.id}`
            }
            this.items.push({
              employee: name,
              action: res.data.view[i].action,
              table: res.data.view[i].table,
              oldValues: prevVal,
              newValues: newVal,
              changedVals,
              key,
              created_at: moment(res.data.view[i].log_timestamp).format(
                "MMM DD, YYYY hh:mm A"
              )
            });
          }
        }
      } catch (e) {
        this.showLoading = false;
      }
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      this.getLogs();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getLogs();
      this.totalRows = this.items.length;
    }
  }
};
</script>

<style>
.reportrange-text[data-v-1cd3ebdc] {
  /* background: #fff; */
  /* cursor: pointer; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 11rem;
  font-size: 12px;
}

body {
  background-color: white;
}

.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}
</style>
