<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />
    <h4 class="color1 ml-4">PRINT LOGS</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="searchinput"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col cols="4">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="2"></b-col>

        <b-col cols="2">
          <b-button size="sm" @click="openModal()">Print Settings</b-button>
        </b-col>
      </b-row>

      <b-modal id="bv-modal-example" hide-footer>
        <template v-slot:modal-title>Set Maximum Print Count</template>
        <div class="d-block text-center">
          <b-row
            v-for="(transaction_type, index) in transaction_types"
            :key="transaction_type.id"
            class="my-1"
          >
            <b-col sm="4">
              <label>{{convertCase(transaction_type.name)}}</label>
            </b-col>
            <b-col sm="8">
              <b-form-input
                :id="transaction_type.name"
                size="md"
                v-model="transaction_types[index].print_count"
                type="number"
              ></b-form-input>
            </b-col>
          </b-row>
        </div>

        <hr />
        <center>
          <b-button
            id="btnSaveSettings"
            type="submit"
            class="button1"
            @click="updatePrintSettings()"
          >Save</b-button>
        </center>
      </b-modal>

      <div id="printTable">
        <b-table
          id="table"
          class="my-3"
          style="font-size:13px"
          show-empty
          small
          stacked="md"
          :items="items"
          :fields="fields"
          :current-page="currentPage"
          :per-page="perPage"
          :filter="filter"
          :filterIncludedFields="filterOn"
          :sort-by.sync="sortBy"
          :sort-desc.sync="sortDesc"
          :sort-direction="sortDirection"
          @filtered="onFiltered"
        >
          <template v-slot:table-caption>
            <b-row align-h="end">
              <b-col cols="6">{{bottomLabel}}</b-col>

              <b-col cols="6">
                <b-pagination
                  id="pagination"
                  pills
                  v-model="currentPage"
                  :total-rows="totalRows"
                  :per-page="perPage"
                  align="right"
                  size="sm"
                ></b-pagination>
              </b-col>
            </b-row>
          </template>
        </b-table>
      </div>
    </b-card>
  </div>
</template>

<script>
import moment from "moment";
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
export default {
  components: { DateRangePicker, Loading },

  async created() {
    await this.getLogs();
    this.totalRows = this.items.length;
  },

  data() {
    return {
      showLoading: false,
      opens: "center",
      currentPage: 1,
      settings: [],
      transaction_types: [],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("MMM DD, YYYY"),
        separator: " - "
      },

      items: [],

      fields: [
        {
          key: "employee_id",
          label: "Employee ID",
          sortable: true
        },
        {
          key: "employee_name",
          label: "Employee Name",
          sortable: true
        },
        {
          key: "ticket_no",
          label: "Ticket Number",
          sortable: true,
          class: "text-center"
        },
        {
          key: "type",
          label: "Type",
          sortable: true,
          class: "text-center"
        },
        {
          key: "date_printed",
          label: "Date Printed",
          sortable: true,
          class: "text-center"
        }
      ],
      perPage: 10,
      totalRows: 1,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: []
    };
  },
  computed: {
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.items.length) {
        end = this.items.length;
      }

      if (this.items.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.items.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    async updatePrintSettings() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/print-logs/update`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            settings: this.transaction_types,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          this.$bvModal.hide("bv-modal-example");
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    async getTransactionTypes() {
      try {
        this.showLoading = true;
        this.transaction_types = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });
        this.showLoading = false;
        const v = res.data.view;

        if (res.status === 200) {
          for (let i = 0; i < v.length; i++) {
            this.transaction_types.push(v[i]);
          }
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    async openModal() {
      await this.getTransactionTypes();
      this.$bvModal.show("bv-modal-example");
    },
    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    async getLogs() {
      try {
        this.items = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/users/select-print-logs`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            dateRange: this.dateRange
          }
        });

        this.showLoading = false;

        const v = res.data.view;

        if (res.status == 200) {
          for (let i = 0; i < v.length; i++) {
            this.items.push({
              employee_id: v[i].employee_id,
              employee_name: `${v[i].first_name} ${v[i].last_name}`,
              ticket_no: v[i].transaction_id,
              date_printed: moment(v[i].date_printed).format(
                "MMM DD, YYYY hh:mm A"
              ),
              type: this.convertCase(v[i].transaction_type)
            });
          }
        }
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      this.getLogs();
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));

      await this.getLogs();
      this.totalRows = this.items.length;
    }
  }
};
</script>

<style>
.reportrange-text[data-v-1cd3ebdc] {
  /* background: #fff; */
  /* cursor: pointer; */
  border: 1px solid #ccc;
  height: 2rem;
  width: 11rem;
  font-size: 12px;
}

body {
  background-color: white;
}

.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

html {
  background-color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
.table-fixed {
  width: 100%;
  background-color: #f3f3f3;
}
.printTable {
  padding: 100 !important;
  table-layout: fixed;
}
</style>
