<template>
  <div class="my-3 ml-2" id="requests-view">
    <Loading v-if="showLoading" />

    <h4 class="color1 ml-4">TRANSACTIONS</h4>
    <b-button
      id="show-btn"
      style="margin-top:20px"
      class="ml-4 button1"
      v-if="accessRightExists('add transaction')"
      @click="openModal()"
    >NEW TRANSACTION</b-button>

    <b-card class="my-4 mr-4 ml-4">
      <b-modal id="bv-modal-example" hide-footer :no-close-on-backdrop="true">
        <template v-slot:modal-title>NEW TRANSACTION</template>
        <div class="d-block text-center">
          <div>
            <b-form id="formTransaction" @submit="saveTransaction">
              <b-form-group>
                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Transaction Type:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-select
                      id="selectTransactionType"
                      size="md"
                      v-model="transactionType"
                      :options="transactionOptions"
                      @change="transactionSubType = null"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <div v-if="transactionType === 'delivery'">
                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Tracking code:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input id="inputTrackingCode" size="md" v-model="trackingCode"></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>No. of bags:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input
                        id="inputNumberofBags"
                        type="number"
                        size="md"
                        v-model="numberOfBags"
                      ></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Plate Number:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectPlateNumber"
                        size="md"
                        v-model="plateNumber"
                        :options="plateNumberOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Driver:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectDriver"
                        size="md"
                        v-model="driver"
                        :options="driverOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>
                  <hr />
                  <b-button id="btnSaveTransactions" type="submit" class="ml-10 button1">Save</b-button>
                </div>

                <div
                  v-if="transactionType === 'others' || transactionType === 'unahco' || transactionType === 'biotech farms'"
                >
                  <b-row
                    v-if="transactionType === 'unahco' || transactionType === 'biotech farms'"
                    class="my-1"
                  >
                    <b-col sm="4">
                      <label>Sub Type:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectSubType"
                        size="md"
                        v-model="transactionSubType"
                        :options="transactionSubTypeOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Plate Number:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="plateNumberFilter"
                        v-model="plateNumberFilter"
                        :data="plateNumberOptions"
                        required
                        @hit="returnPlateNumberId()"
                        @input="clearPlateNumberData()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>

                  <b-row class="my-1">
                    <b-col sm="4">
                      <label>Driver:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="driverFilter"
                        v-model="driverFilter"
                        :data="driverOptions"
                        required
                        placeholder="Lastname, Firstname"
                        @hit="returnDriverId()"
                        @input="clearDriverData()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>

                  <b-row v-if="mode != 1" class="my-1">
                    <b-col sm="4">
                      <label>Supplier:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="omSupplierFilter"
                        v-model="omSupplierFilter"
                        :data="omSupplierOptions"
                        required
                        @hit="returnSupplierId()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>

                  <b-row v-if="mode != 1" class="my-1">
                    <b-col sm="4">
                      <label>Supplier Address:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input id="supplierAddress" size="md" v-model="supplierAddress"></b-form-input>
                    </b-col>
                  </b-row>

                  <b-row v-if="mode != 1" class="my-1">
                    <b-col sm="4">
                      <label>Item:</label>
                    </b-col>
                    <b-col sm="8">
                      <vue-bootstrap-typeahead
                        id="omItemFilter"
                        v-model="omItemFilter"
                        :data="omItemOptions"
                        required
                        @hit="returnItemId()"
                        style="font-size:11px"
                      />
                    </b-col>
                  </b-row>

                  <b-row v-if="mode != 1" class="my-1">
                    <b-col sm="4">
                      <label>Unit Of Measure:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-select
                        id="selectUom"
                        size="md"
                        v-model="selectedUom"
                        :options="uomOptions"
                      ></b-form-select>
                    </b-col>
                  </b-row>

                  <b-row v-if="mode != 1" class="my-1">
                    <b-col sm="4">
                      <label>Quantity:</label>
                    </b-col>
                    <b-col sm="8">
                      <b-form-input
                        id="inputNumberofBags"
                        type="number"
                        size="md"
                        v-model="numberOfBags"
                      ></b-form-input>
                    </b-col>
                  </b-row>

                  <hr />
                  <b-button id="btnSaveTransactions" type="submit" class="ml-10 button1">Save</b-button>
                </div>
              </b-form-group>
            </b-form>
          </div>
        </div>
        <!-- error msg -->

        <!-- ALERT SUCCESSFULL END -->
      </b-modal>

      <b-row>
        <b-col cols="4">
          <b-input-group size="sm">
            <b-form-input
              v-model="filter"
              type="search"
              id="inputSearch"
              placeholder="Type to Search"
            ></b-form-input>
            <b-input-group-append>
              <b-button id="btnClearSearch" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col cols="5">
          <b-input-group prepend="Date" size="sm">
            <date-range-picker
              id="datepicker"
              ref="picker"
              :opens="opens"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 170px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append style="height:2rem; font-size:12px">
              <b-button @click="resetDate" id="date-reset" style="font-size:12px">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col></b-col>

        <b-col>
          <b-dropdown size="sm" id="dropdown-grouped" text="Filter Table">
            <b-dropdown-group id="ttype" header="Transaction Type">
              <b-form-checkbox-group id="check" size="sm" v-model="selectedFilters" class="ml-4">
                <b-form-checkbox
                  v-for="(t, index) in transactionOptions"
                  :key="index"
                  size="sm"
                  :id="`tfilters-${index}`"
                  :value="t.value"
                >{{convertCase(t.value)}}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-dropdown-group>
          </b-dropdown>
        </b-col>
      </b-row>
      <!-- Main table element -->
      <b-table
        id="Table"
        class="my-3"
        style="font-size:13px"
        show-empty
        small
        stacked="md"
        scrollable
        :items="computedTransactions"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :filter="filter"
        :filterIncludedFields="filterOn"
        :sort-by.sync="sortBy"
        :sort-desc.sync="sortDesc"
        :sort-direction="sortDirection"
        @filtered="onFiltered"
        :tbody-tr-class="highlightRow"
      >
        <template class="font_badge" v-slot:cell(created_at)="row">
          {{
          formatDate(row.item.created_at)
          }}
        </template>

        <template v-slot:cell(actions)="row">
          <b-button
            id="btnTransaction"
            v-if="accessRightExists('process transaction')"
            class="button1"
            size="sm"
            @click="redirect(row)"
          >Process</b-button>

          <b-button
            id="btnTransactionEdit"
            v-if="accessRightExists('edit transaction')"
            class="button1"
            size="sm"
            @click="openEditModal(row)"
          >Edit</b-button>
        </template>

        <template v-slot:table-caption>
          <b-row align-h="end">
            <b-col cols="6">{{ bottomLabel }}</b-col>

            <b-col cols="6">
              <b-pagination
                id="pagination"
                pills
                v-model="currentPage"
                :total-rows="totalRows"
                :per-page="perPage"
                align="right"
                size="sm"
              ></b-pagination>
            </b-col>
          </b-row>
        </template>
      </b-table>

      <!-- successmsg -->
      <b-alert
        id="alertsuc"
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{ successMsg }}</b-alert>
      <!-- errmsg -->
      <b-alert
        id="update alert"
        :show="dismissCountDownErrs"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErrs"
      >{{ errorMsg }}</b-alert>
    </b-card>

    <b-modal
      ref="newSupplierModal"
      id="newSupplierModal"
      title="New Supplier"
      hide-footer
      @hide="resetNewSupplierModal"
    >
      <form @submit="saveTransaction">
        <b-form-group label="Supplier Address:">
          <b-form-input v-model="supplier_address"></b-form-input>
        </b-form-group>

        <center>
          <b-button type="submit">Save</b-button>
        </center>
      </form>
    </b-modal>

    <b-modal
      ref="newSupplierModalEdit"
      id="newSupplierModalEdit"
      title="New Supplier"
      hide-footer
      @hide="resetNewSupplierModal"
    >
      <form @submit="editTransaction">
        <b-form-group label="Supplier Address:">
          <b-form-input v-model="supplier_address"></b-form-input>
        </b-form-group>

        <center>
          <b-button type="submit">Save</b-button>
        </center>
      </form>
    </b-modal>

    <b-modal ref="editTransactionModal" id="editTransactionModal" hide-footer>
      <template v-slot:modal-title>EDIT TRANSACTION</template>
      <div class="d-block text-center">
        <div>
          <b-form id="formEditTransaction" @submit.prevent="editTransaction">
            <b-form-group>
              <b-row class="my-1">
                <b-col sm="4">
                  <label>Transaction type:</label>
                </b-col>
                <b-col sm="8">
                  <b-form-select
                    id="selectTransactionTypeEdit"
                    size="md"
                    v-model="editModalData.transactionType"
                    :options="transactionOptions"
                  ></b-form-select>
                </b-col>
              </b-row>

              <div>
                <b-row
                  v-if="editModalData.transactionType == 'unahco' || editModalData.transactionType == 'biotech farms'"
                  class="my-1"
                >
                  <b-col sm="4">
                    <label>Sub type:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-select
                      id="selectTransactionSubTypeEdit"
                      v-model="editModalData.transactionSubType"
                      :options="transactionSubTypeOptions"
                      size="md"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Plate Number:</label>
                  </b-col>
                  <b-col sm="8">
                    <vue-bootstrap-typeahead
                      id="plateNumberFilterEdit"
                      v-model="editModalData.plateNumberFilter"
                      :data="plateNumberOptions"
                      required
                      style="font-size:11px"
                      ref="editPlateNumber"
                    />
                  </b-col>
                </b-row>

                <b-row class="my-1">
                  <b-col sm="4">
                    <label>Driver:</label>
                  </b-col>
                  <b-col sm="8">
                    <vue-bootstrap-typeahead
                      id="driverFilterEdit"
                      v-model="editModalData.driverFilter"
                      :data="driverOptions"
                      required
                      placeholder="Lastname, Firstname"
                      style="font-size:11px"
                      ref="editDriver"
                    />
                  </b-col>
                </b-row>

                <b-row v-if="mode != 1" class="my-1">
                  <b-col sm="4">
                    <label>Supplier:</label>
                  </b-col>
                  <b-col sm="8">
                    <vue-bootstrap-typeahead
                      id="omSupplierFilterEdit"
                      v-model="editModalData.omSupplierFilter"
                      :data="omSupplierOptions"
                      required
                      style="font-size:11px"
                      ref="editSupplier"
                    />
                  </b-col>
                </b-row>

                <b-row v-if="mode != 1" class="my-1">
                  <b-col sm="4">
                    <label>Supplier Address:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="supplierAddress"
                      size="md"
                      v-model="editModalData.supplierAddress"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <b-row v-if="mode != 1" class="my-1">
                  <b-col sm="4">
                    <label>Item:</label>
                  </b-col>
                  <b-col sm="8">
                    <vue-bootstrap-typeahead
                      id="omItemFilterEdit"
                      v-model="editModalData.omItemFilter"
                      :data="omItemOptions"
                      required
                      style="font-size:11px"
                      ref="editItem"
                    />
                  </b-col>
                </b-row>

                <b-row v-if="mode != 1" class="my-1">
                  <b-col sm="4">
                    <label>Unit Of Measure:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-select
                      id="selectUomEdit"
                      size="md"
                      v-model="editModalData.selectedUom"
                      :options="uomOptions"
                    ></b-form-select>
                  </b-col>
                </b-row>

                <b-row v-if="mode != 1" class="my-1">
                  <b-col sm="4">
                    <label>Quantity:</label>
                  </b-col>
                  <b-col sm="8">
                    <b-form-input
                      id="inputNumberofBagsEdit"
                      type="number"
                      size="md"
                      v-model="editModalData.numberOfBags"
                      ref="editNumberOfBags"
                    ></b-form-input>
                  </b-col>
                </b-row>

                <hr />
                <b-button id="btnEditTransactions" type="submit" class="ml-10 button1">Save</b-button>
              </div>
            </b-form-group>
          </b-form>
        </div>
      </div>
    </b-modal>

    <b-alert
      id="alertdanger"
      :show="dismissCountDownErr"
      dismissible
      fade
      class="err fixed"
      @dismiss-count-down="countDownChangedErr"
    >{{ errorMsg }}</b-alert>

    <!-- End QR Code Modal -->
  </div>
</template>

<script>
import axios from "axios";
import Vue from "vue";
import VueQrcode from "@chenfengyuan/vue-qrcode";
import moment from "moment";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";

export default {
  components: {
    VueQrcode,
    DateRangePicker,
    Loading,
    VueBootstrapTypeahead
  },
  async created() {
    this.determineFields();
    if (localStorage.mode != 1) {
      this.transactionType = "biotech farms";
    }
    this.mode = localStorage.mode;
    this.role = localStorage.role;
    await this.getUoms();
    await this.getTransactionTypes();
    await this.getDrivers();
    await this.getSuppliers();
    await this.getItems();
    await this.getTruckInfos();
    await this.getTransactions();
    await this.getTransactionSubTypes();
  },
  data() {
    return {
      supplierAddress: null,

      uomOptions: [],
      selectedUom: null,

      transactionSubType: null,
      transactionSubTypeOptions: [],

      editModalData: {
        transactionId: null,
        transactionType: null,
        plateNumberFilter: null,
        driverFilter: null,
        omSupplierFilter: null,
        omItemFilter: null,
        numberOfBags: null,
        transactionSubType: null,
        supplierAddress: null,
        selectedUom: null
      },

      supplier_address: null,

      mode: null,
      role: null,

      omItemOptions: [],
      omItemFilter: null,
      omItemList: [],
      omItem: null,

      omSupplierOptions: [],
      omSupplierFilter: null,
      omSupplierList: [],
      omSupplier: null,

      driverList: [],
      driverFilter: null,
      plateNumberFilter: null,
      showLoading: false,
      opens: "center",

      po: null,
      pos: [],

      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },

      barcodeImage: null,
      qrData: null,
      qrplateNumber: null,
      indexForQr: null,
      qrdriver: {
        firstname: null,
        lastname: null
      },
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      successMsg: null,
      errorMsg: null,
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      selectedFilters: ["others", "unahco", "biotech farms"],
      qrplateNumberOptions: [],
      qrDriverOptions: [],
      indexForTransmittal: null,
      selectedPurchaseOrder: null,
      transmittalForm: {
        supplier: null,
        raw_material: null,
        location_delivery: null,
        warehouse_location: null,
        number_of_bags: null,
        transmittal_number: null
      },
      requests: [],
      selectedItems: [],
      departments: [],
      requestTypes: [],
      filterActive: "",
      transactionType: null,
      supplier: null,
      item: null,
      trackingCode: null,
      numberOfBags: null,
      plateNumber: null,
      driver: null,
      transactionOptions: [],
      plateNumberOptions: [],
      driverOptions: [],
      options1: [
        { value: null, text: "Please select an option" },
        { value: "PDF", text: "Paddy Drying Facility" },
        { value: "PDF", text: "Rice Mill Facility" },
        { value: "CDF", text: "Corn Drying Facility" },
        { value: "FM", text: "Feedmill" }
      ],
      modalShow: false,

      items: [],

      fields: [],

      totalRows: 1,
      currentPage: 1,
      perPage: 8,
      // pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      },
      addTransactionPayload: null,
      editTransactionPayload: null
    };
  },
  computed: {
    computedTransactions() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(
            item.transaction_type.toLowerCase()
          );
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;
      return this.items.filter(item => {
        return this.selectedFilters.includes(
          item.transaction_type.toLowerCase()
        );
      });
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedTransactions.length) {
        end = this.computedTransactions.length;
      }

      if (this.computedTransactions.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedTransactions.length} entries`;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  mounted() {},
  methods: {
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    async editTransaction() {
      try {
        this.showLoading = true;
        this.editTransactionPayload = {
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
          t_type: this.editModalData.transactionType,
          driver_id: this.editModalData.driverFilter,
          truck_info_id: this.editModalData.plateNumberFilter,
          supplier: this.editModalData.omSupplierFilter,
          number_of_bags: this.editModalData.numberOfBags,
          item: this.editModalData.omItemFilter,
          updated_by: localStorage.id,
          address: this.supplier_address,
          sub_type: this.editModalData.transactionSubType,
          supplier_address: this.editModalData.supplierAddress,
          uom_id: this.editModalData.selectedUom
        };

        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/transactions/edit/${this.editModalData.transactionId}`,
          data: {
            ...this.editTransactionPayload
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          if (res.data.patched.newSupplier) {
            this.$refs["newSupplierModalEdit"].show();
          } else {
            this.getTransactions();
            this.getItems();
            this.getSuppliers();
            this.getDrivers();
            this.getTruckInfos();
            this.successMsg = "Edited transaction successfully.";
            this.showAlert();
            this.$bvModal.hide("editTransactionModal");
          }
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async openEditModal(row) {
      this.$bvModal.show("editTransactionModal");

      this.editModalData.supplierAddress = row.item.supplier_address;
      this.editModalData.transactionSubType = row.item.transaction_sub_type_id;
      this.editModalData.transactionId = row.item.transaction_number;
      this.editModalData.transactionType = row.item.transaction_type.toLowerCase();
      this.editModalData.plateNumberFilter = row.item.plate_number;
      this.editModalData.driverFilter = row.item.driver;
      this.editModalData.omSupplierFilter = row.item.supplier;
      this.editModalData.omItemFilter = row.item.item;
      this.editModalData.numberOfBags = row.item.number_of_bags;
      this.editModalData.selectedUom = row.item.uom_id;

      this.$refs.editPlateNumber.inputValue = await row.item.plate_number;
      this.$refs.editDriver.inputValue = await row.item.driver;
      this.$refs.editSupplier.inputValue = await row.item.supplier;
      this.$refs.editItem.inputValue = row.item.item ? await row.item.item : "";
      //  this.$refs.editNumberOfBags.inputValue = row.item.item;
    },

    resetNewSupplierModal() {
      this.supplier_address = null;
    },

    openModal() {
      this.plateNumber = null;
      this.driver = null;
      this.omSupplier = null;
      this.omItem = null;
      this.numberOfBags = null;
      this.omSupplierFilter = null;
      this.omItemFilter = null;
      this.transactionSubType = null;
      this.supplierAddress = null;
      this.selectedUom = null;

      this.$bvModal.show("bv-modal-example");
    },

    highlightRow(item, type) {
      if (!item || type !== "row") return;
      if (item.status.toLowerCase() === "rejected") return "table-danger";
    },
    convertLowerCase(s) {
      return s.toLowerCase();
    },

    async returnItemId() {
      try {
        const s = this.omItemFilter;
        const data = this.omItemList;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.omItem = id;
      } catch (e) {
        console.log("Error return driver ID: ", e);
      }
    },

    async returnSupplierId() {
      try {
        const s = this.omSupplierFilter;
        const data = this.omSupplierList;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.omSupplier = id;
      } catch (e) {
        console.log("Error return driver ID: ", e);
      }
    },

    async returnDriverId() {
      try {
        const s = this.driverFilter;
        const data = this.driverList;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.driver = id;
      } catch (e) {
        console.log("Error return driver ID: ", e);
      }
    },

    determineFields() {
      this.fields = [
        {
          key: "created_at",
          label: "Date Created",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "transaction_number",
          label: "Ticket Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "formatted_transaction_type",
          label: "Transaction Type",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "plate_number",
          label: "Plate Number",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "supplier",
          label: "Supplier",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "item",
          label: "Item",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "quantity",
          label: "Quantity",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "ib_weight",
          label: "Inbound",
          sortable: true,
          sortDirection: "desc"
        },

        // {
        //   key: "transaction_type",
        //   label: "Transaction Type",
        //   sortable: true,
        //   class: "text-center"
        // },
        // {
        //   key: "status",
        //   label: "Status",
        //   sortable: true,
        //   class: "text-center"
        // },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ];
    },

    async returnPlateNumberId() {
      try {
        const s = this.plateNumberFilter;
        const data = this.qrplateNumberOptions;

        const getId = () => {
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const value = e.value;
            const text = e.text;

            if (s.toLowerCase() == text.toLowerCase()) {
              return value;
            }
          }
        };

        const id = await getId();
        this.plateNumber = id;
      } catch (e) {
        console.log("Error get plate number ID: ", e);
      }
    },
    // convert to pascal case
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },

    formatDate(created_at) {
      return moment(created_at).format("MMM DD, YYYY hh:mm A");
    },

    info(item, index, button) {
      this.infoModal.title = `Row index: ${index}`;
      this.infoModal.content = JSON.stringify(item, null, 2);
      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    async redirect(row) {
      await this.$router.push(`/transaction/${row.item.transaction_number}`);
    },

    clearPlateNumberData() {
      if (this.plateNumberFilter == "") {
        this.plateNumber = null;
      }
    },

    clearDriverData() {
      if (this.driverFilter == "") {
        this.driver = null;
      }
    },

    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    async getTransactionSubTypes() {
      try {
        this.showLoading = true;

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transaction-type/sub/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        let v = res.data.view;

        for (let i = 0; i < v.length; i++) {
          this.transactionSubTypeOptions.push({
            value: v[i].id,
            text: this.convertCase(v[i].description)
          });
        }
      } catch (e) {
        console.log(e);
        this.showLoading = false;
      }
    },

    async getTransactionTypes() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transaction-type/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status == 200) {
          const data = res.data.view;

          console.log(data);

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.transactionOptions.push({
              value: e.name.toLowerCase(),
              text: this.convertCase(e.name)
            });
          }
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error get transaction type: ", e);
      }
    },
    async getTruckInfos() {
      try {
        this.showLoading = true;
        this.plateNumberOptions = [];
        this.qrplateNumberOptions = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-infos/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.plateNumberOptions.push(e.plate_number.toUpperCase());

            this.qrplateNumberOptions.push({
              value: e.truck_info_id,
              text: e.plate_number.toUpperCase()
            });
          }
        }
      } catch (e) {
        console.log("Error get truck info", e);
      }
    },
    async getDrivers() {
      try {
        this.showLoading = true;

        this.driverList = [];
        this.driverOptions = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/drivers/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            const name = this.convertCase(`${e.last_name}, ${e.first_name}`);

            this.driverList.push({
              value: e.id,
              text: name
            });

            this.driverOptions.push(name);
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },

    async getItems() {
      try {
        this.showLoading = true;
        this.omItemList = [];
        this.omItemOptions = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.omItemList.push({
              value: e.id,
              text: e.name
            });

            this.omItemOptions.push(e.name);
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },

    async getUoms() {
      try {
        this.showLoading = true;

        this.uomOptions = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/items/uom/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        const v = res.data.view;

        if (res.status == 200) {
          for (let i = 0; i < v.length; i++) {
            if (v[i].is_active) {
              this.uomOptions.push({
                value: v[i].id,
                text: this.convertCase(v[i].name)
              });
            }
          }
        }

        this.showLoading = false;
      } catch (e) {
        this.showLoading = false;
        console.log(e);
      }
    },

    async getSuppliers() {
      try {
        this.showLoading = true;
        this.omSupplierList = [];
        this.omSupplierOptions = [];
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/suppliers/select`,
          headers: {
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET",
            authorization: "Bearer " + localStorage.session
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;
          for (let i = 0; i < data.length; i++) {
            const e = data[i];

            this.omSupplierList.push({
              value: e.id,
              text: e.name
            });

            this.omSupplierOptions.push(e.name);
          }
        }
      } catch (e) {
        console.log("Error get drivers", e);
      }
    },
    intToTime(i) {
      const str = i.toString();
      const len = str.length;

      let time = null;

      if (len == 4) {
        const hour = str.substring(0, 2);
        const min = str.substring(2, 4);
        time = `${hour}:${min}`;
        return time;
      } else if (len == 3) {
        const hour = str.substring(0, 1);
        const min = str.substring(1, 3);
        time = `0${hour}:${min}`;
        return time;
      } else {
        return `00:00`;
      }
    },
    async getTransactions() {
      try {
        this.items = [];

        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/select`,
          headers: {
            authorization: "Bearer " + localStorage.session
          },
          data: {
            from: this.dateRange.date_from,
            to: this.dateRange.date_to,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });
        this.showLoading = false;

        if (res.status === 200) {
          const data = res.data.view;

          for (let i = 0; i < data.length; i++) {
            this.items.push({
              created_at: data[i].created_at,
              transaction_number: data[i].transaction_id,
              transaction_type: data[i].transaction_type
                ? this.convertCase(data[i].transaction_type)
                : null,
              status: data[i].status ? this.convertCase(data[i].status) : null,
              plate_number: data[i].plate_number,
              supplier: data[i].supplier,
              item: data[i].item,
              quantity: `${
                data[i].number_of_bags ? data[i].number_of_bags : ""
              } ${
                data[i].unit_of_measure
                  ? this.convertCase(data[i].unit_of_measure)
                  : ""
              }`,
              number_of_bags: data[i].number_of_bags,
              uom: data[i].unit_of_measure,
              driver: this.convertCase(data[i].driver_name),
              ib_weight: data[i].inbound_weight
                ? data[i].inbound_weight
                : "Pending",
              formatted_transaction_type: `${this.convertCase(
                data[i].transaction_type
              )} ${
                data[i].transaction_sub_type
                  ? "(" + this.convertCase(data[i].transaction_sub_type) + ")"
                  : ""
              }`,
              transaction_sub_type: data[i].transaction_sub_type,
              transaction_sub_type_id: data[i].transaction_sub_type_id,
              supplier_address: data[i].supplier_address,
              uom_id: data[i].uom_id
            });
          }
        }
      } catch (e) {
        this.showLoading = false;

        console.log("Error get all transactions: ", e);
      }
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async saveTransaction(evt) {
      evt.preventDefault();
      try {
        let data;
        this.showLoading = true;

        if (!this.plateNumberFilter) {
          this.showLoading = false;
          this.errorMsg = "Please input plate number.";
          this.showAlertErr();
          return;
        }

        if (!this.driverFilter) {
          this.showLoading = false;
          this.errorMsg = "Please input driver.";
          this.showAlertErr();
          return;
        }

        if (!this.omSupplierFilter) {
          this.showLoading = false;
          this.errorMsg = "Please input supplier.";
          this.showAlertErr();
          return;
        }

        // if (!this.omItemFilter) {
        //   this.showLoading = false;
        //   this.errorMsg = "Please input item.";
        //   this.showAlertErr();
        //   return;
        // }

        // if (!this.numberOfBags) {
        //   this.showLoading = false;
        //   this.errorMsg = "Please input number of bags.";
        //   this.showAlertErr();
        //   return;
        // }

        this.addTransactionPayload = {
          t_type: this.transactionType,
          truckscale_id: localStorage.truckscale,
          driver_id: this.driverFilter,
          truck_info_id: this.plateNumberFilter,
          supplier: this.omSupplierFilter,
          number_of_bags: this.numberOfBags,
          item: this.omItemFilter,
          address: this.supplier_address,
          createdby: localStorage.id,
          transaction_sub_type: this.transactionSubType,
          supplier_address: this.supplierAddress,
          mode: localStorage.mode,
          modules: JSON.parse(localStorage.modules),
          uom: this.selectedUom
        };

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/transactions/add`,
          data: {
            ...this.addTransactionPayload
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;

        if (res.status == 201) {
          if (res.data.posted.newSupplier) {
            this.$refs["newSupplierModal"].show();
          } else {
            // this.getTransactions();
            // this.getItems();
            // this.getSuppliers();
            // this.getDrivers();
            // this.getTruckInfos();
            // this.successMsg = "Added transaction successfully.";
            // this.showAlert();
            // this.plateNumber = null;
            // this.driver = null;
            // this.omSupplier = null;
            // this.omItem = null;
            // this.numberOfBags = null;
            // this.omSupplierFilter = null;
            // this.omItemFilter = null;
            // this.transactionSubType = null;
            // this.$bvModal.hide("bv-modal-example");
            // this.$refs["newSupplierModal"].hide();

            // this.$router.push(`/transaction/${res.data.posted.id}`);

            window.location.href = `/transaction/${res.data.posted.id}`;
          }
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    },
    async updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );

      await this.getTransactions();
      this.totalRows = this.items.length;
    }
  },

  layout: "sidebar"
};
</script>

<style>
#alertdanger {
  z-index: 999999;
}

#newSupplierModal {
  margin-top: 5%;
  outline: none;
}

.reportrange-text[data-v-8cc9549e] {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
  height: 2rem;
  font-size: 12px;
  text-align: center;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}

.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}

.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}

@media print {
  #printable {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
  }
}
html {
  background-color: #eee;
}

.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
