<template>
  <div>
    <Loading v-if="showLoading" />

    <b-card-group deck>
      <div class="my-2 mr-4 ml-4" style="width:600px">
        <b-modal id="TruckType" v-model="truckTypeModal" title="Update Truck Type" size="m">
          <b-container fluid>
            <b-form-group id="truckType_inputgroup" label="Truck Type: " style="font-size:13px">
              <b-form-input
                style="font-size:13px"
                id="truckType_input"
                v-model="uTruckType"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="truckModel_inputgroup" label="Truck Model: " style="font-size:13px">
              <b-form-input
                style="font-size:13px"
                id="truckModel_input"
                v-model="uTruckModel"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="truckSize_inputgroup" label="Truck Size: " style="font-size:13px">
              <b-form-input
                style="font-size:13px"
                id="truckSize_input"
                v-model="uTruckSize"
                type="number"
                required
              ></b-form-input>
            </b-form-group>
          </b-container>

          <template v-slot:modal-footer>
            <div class="w-100 float-right">
              <b-button
                id="btnCloseModal"
                @click="closeModal()"
                variant="danger"
                class="mr-2"
                size="sm"
              >Close</b-button>
              <b-button
                id="btnUpdateModal"
                variant="primary"
                size="sm"
                class="button1"
                @click="updateTruckType"
              >Save</b-button>
            </div>
          </template>

          <!-- err msg -->
          <b-alert
            :show="dismissCountDownErrs"
            dismissible
            fade
            class="err fixed"
            @dismiss-count-down="countDownChangedErrs"
          >{{errorMsg}}</b-alert>
        </b-modal>
        <b-row>
          <b-col>
            <b-form-group
              id="Filter"
              style="font-size:13px"
              label="Search"
              label-cols-sm="3"
              label-align-sm="left"
              label-size="sm"
              label-for="filterInput"
            >
              <b-input-group size="sm">
                <b-form-input
                  style="font-size:13px"
                  v-model="filter"
                  type="search"
                  id="searchInput"
                  label-align-sm="left"
                  placeholder="Type to Search"
                ></b-form-input>
                <b-input-group-append>
                  <b-button id="clear" :disabled="!filter" @click="filter = ''">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col cols="2">
            <b-dropdown id="filterTruck" size="sm" text="Filter Table">
              <b-dropdown-group id="trucktypechoice" header="Truck Type">
                <b-form-checkbox-group
                  id="trucktype"
                  size="sm"
                  v-model="selectedFilters"
                  class="ml-4"
                >
                  <b-form-checkbox
                    size="sm"
                    :id="'choices'+index"
                    v-for="(item, index) in truckTypeFilters"
                    :key="index"
                    :value="item"
                  >{{item}}</b-form-checkbox>
                </b-form-checkbox-group>
              </b-dropdown-group>
            </b-dropdown>
          </b-col>

          <!-- Main table element -->
          <b-table
            id="table"
            class="my-1"
            style="font-size:13px"
            show-empty
            small
            scrollable
            stacked="md"
            :items="computedItems"
            :fields="fields"
            :current-page="currentPage"
            :per-page="perPage"
            :filter="filter"
            :filterIncludedFields="filterOn"
            :sort-by.sync="sortBy"
            :sort-desc.sync="sortDesc"
            :sort-direction="sortDirection"
            @filtered="onFiltered"
          >
            <template v-slot:cell(actions)="row">
              <b-button
                id="buttonEditTrucktype"
                class="button1"
                size="sm"
                v-if="accessRightExists('edit truck type')"
                @click="openModal(row)"
              >
                <font-awesome-icon icon="edit" class="icon" />
              </b-button>
            </template>
            <template v-slot:table-caption>
              <b-row align-h="end">
                <b-col cols="6">{{bottomLabel}}</b-col>

                <b-col cols="6">
                  <b-pagination
                    id="pagination"
                    pills
                    v-model="currentPage"
                    :total-rows="totalRows"
                    :per-page="perPage"
                    align="right"
                    size="sm"
                  ></b-pagination>
                </b-col>
              </b-row>
            </template>
          </b-table>
        </b-row>
      </div>
      <b-card style="height:30%">
        <b-card-text>
          <h5 class="color1">NEW TRUCK TYPE</h5>
        </b-card-text>
        <hr />
        <b-form-group id="truck_type" label="Truck Type" label-for="input-2" style="font-size:13px">
          <b-form-input id="inputTruckType" style="font-size:13px" v-model="truck_type" required></b-form-input>
        </b-form-group>
        <b-form-group
          id="truck_model"
          label="Truck Model"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input id="inputTruckModel" style="font-size:13px" v-model="truck_model" required></b-form-input>
        </b-form-group>
        <b-form-group
          id="Truck_Size"
          label="Truck Size in meters"
          label-for="input-2"
          style="font-size:13px"
        >
          <b-form-input
            style="font-size:13px"
            type="number"
            id="inputTruckSize"
            v-model="truck_size"
            required
          ></b-form-input>
        </b-form-group>

        <b-row align-h="end">
          <b-button
            id="buttonClear"
            @click="clearTruck()"
            variant="danger"
            class="mr-2"
            style="font-size:13px"
          >Clear</b-button>
          <b-button
            id="buttontAddTruckType"
            v-if="accessRightExists('add truck type')"
            @click="addTruckType"
            class="button1 mr-3"
            style="font-size:13px"
          >Add</b-button>
        </b-row>
      </b-card>
      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >{{successMsg}}</b-alert>
      <!-- error msg -->
      <b-alert
        :show="dismissCountDownErr"
        dismissible
        fade
        class="err fixed"
        @dismiss-count-down="countDownChangedErr"
      >{{errorMsg}}</b-alert>
      <!-- ALERT SUCCESSFULL END -->
    </b-card-group>

    <br />
    <b-card-group style="background-color:white;margin-left:20px;margin-right:20px"></b-card-group>
  </div>
</template>

<script>
import axios from "axios";
import Loading from "~/components/LoadingOverlay/Loading.vue";
import moment from "moment";
export default {
  components: {
    Loading
  },
  async created() {
    await this.getTruckTypes();
  },
  data() {
    return {
      showLoading: false,
      truckTypeFilters: [],
      selectedFilters: [],
      indexForUpdate: null,
      uTruckModel: null,
      uTruckSize: null,
      uTruckType: null,
      truckTypeModal: false,
      totalRows: 1,
      currentPage: 1,
      perPage: 7,
      successMsg: "",
      errorMsg: "",
      dismissCountDownErr: 0,
      dismissCountDownErrs: 0,
      dismissSecs: 3,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      firstname: "",
      middlename: "",
      lastname: "",
      modalShow: false,

      truck_model: null,
      truck_type: null,
      truck_size: null,

      //   truck_type_list: ["Truck", "Pick-up"],
      //   truck_model_list: ["Ford Ranger", "Isuzu Travis", "BAIC Freedom"],
      items: [],
      fields: [
        {
          key: "truck_type",
          label: "Truck Type",
          sortable: true,
          sortDirection: "desc"
        },
        { key: "truck_model", label: "Truck Model", sortable: true },
        { key: "truck_size", label: "Truck Size", sortable: true },
        {
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Actions", class: "text-center" }
      ],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      infoModal: {
        id: "info-modal",
        title: "",
        content: ""
      }
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },
    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.computedItems.length) {
        end = this.computedItems.length;
      }

      if (this.computedItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} to ${end} of ${this.computedItems.length} entries`;
    },

    computedItems() {
      const pageSize = () => {
        return this.items.filter(item => {
          return this.selectedFilters.includes(item.truck_type);
        });
      };

      const pages = pageSize();
      this.totalRows = pages.length;

      return this.items.filter(item => {
        return this.selectedFilters.includes(item.truck_type);
      });
    }
  },
  mounted() {
    // Set the initial number of items
    // this.totalRows = this.items.length;
  },
  methods: {
    // convert to pascal case
    accessRightExists(access) {
      const modules = JSON.parse(localStorage.modules);

      for (let i = 0; i < modules.length; i++) {
        for (let i2 = 0; i2 < modules[i].actions.length; i2++) {
          if (modules[i].actions[i2].actionname.toLowerCase() == access) {
            return true;
          }
        }
      }

      return false;
    },
    convertCase(str) {
      const splitStr = str.toLowerCase().split(" ");
      for (let i = 0; i < splitStr.length; i++) {
        splitStr[i] =
          splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
      }
      return splitStr.join(" ");
    },
    async fixTime(t) {
      try {
        const arr = t.split(":", 2);
        const raw = `${arr[0]}${arr[1]}`;
        const time = raw;
        return time;
      } catch (e) {
        console.log("Error: ", e);
      }
    },
    async updateTruckType() {
      try {
        const res = await axios({
          method: "PUT",
          url: `${this.$axios.defaults.baseURL}/truck-types/update/${this.indexForUpdate}`,
          data: {
            truck_type: this.uTruckType,
            truck_model: this.uTruckModel,
            truck_size: this.uTruckSize,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules),
            updated_by: localStorage.id
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });
        this.showLoading = false;

        if (res.status === 200) {
          this.getTruckTypes();
          this.truckTypeModal = false;
          this.successMsg = res.data.patched.msg;
          this.showAlert();
        }
      } catch (e) {
        this.showLoading = false;
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    openModal(row) {
      this.indexForUpdate = row.item.id;
      this.uTruckModel = row.item.truck_model;
      this.uTruckSize = row.item.truck_size;
      this.uTruckType = row.item.truck_type;

      this.truckTypeModal = true;
    },

    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    countDownChangedErr(dismissCountDown) {
      this.dismissCountDownErr = dismissCountDown;
    },
    showAlertErr() {
      this.dismissCountDownErr = this.dismissSecs;
    },
    // modal update
    countDownChangedErrs(dismissCountDown) {
      this.dismissCountDownErrs = dismissCountDown;
    },
    showAlertErrs() {
      this.dismissCountDownErrs = this.dismissSecs;
    },

    async addTruckType() {
      try {
        this.showLoading = true;
        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-types/add`,
          data: {
            truck_type: this.truck_type,
            truck_model: this.truck_model,
            truck_size: this.truck_size,
            created_by: localStorage.id,
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          },
          headers: {
            authorization: "Bearer " + localStorage.session
          }
        });

        this.showLoading = false;
        if (res.status === 201) {
          this.successMsg = res.data.posted.msg;
          this.clearTruck();
          this.getTruckTypes();
          this.showAlert();
        }
      } catch (e) {
        this.showLoading = false;
        console.log("Error: ", e.response.data.error);
        this.errorMsg = e.response.data.error;
        this.showAlertErr();
      }
    },

    async getTruckTypes() {
      try {
        this.showLoading = true;
        this.items = [];

        const res = await axios({
          method: "POST",
          url: `${this.$axios.defaults.baseURL}/truck-types/select`,
          headers: {
            authorization: "Bearer " + localStorage.session,
            "Content-Type": "application/json",
            "X-HTTP-Method-Override": "GET"
          },
          data: {
            mode: localStorage.mode,
            modules: JSON.parse(localStorage.modules)
          }
        });

        this.showLoading = false;

        if (res.status === 200) {
          for (let i = 0; i < res.data.view.length; i++) {
            this.items.push({
              id: res.data.view[i].id,
              truck_type: res.data.view[i].type,
              truck_model: res.data.view[i].model,
              truck_size: res.data.view[i].size
            });

            if (!this.truckTypeFilters.includes(res.data.view[i].type)) {
              this.truckTypeFilters.push(res.data.view[i].type);
              this.selectedFilters.push(res.data.view[i].type);
            }
          }
        }
      } catch (e) {
        this.showLoading = false;
      }
    },
    closeModal() {
      this.TruckNameInputForUpdate = null;
      this.indexForUpdate = null;
      this.selectedUpdate = null;
      this.selected = [];
      this.truckTypeModal = false;
    },

    clearTruck() {
      this.truck_type = "";
      this.truck_model = "";
      this.truck_size = "";
    },

    onFiltered(filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    }
  },

  layout: "sidebar"
};
</script>

<style scoped>
.button1 {
  background-color: #00803e;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.err {
  background-color: #f12d2d;
  color: white;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 0%;
  margin-right: 1%;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
</style>
