
<template>
  <RequestTable />
</template>

<script>
import RequestTable from "~/components/Request/RequestTable.vue";
export default {
  // created(){
  //   console.log(this.$store.getters["getData"])
  // },
  layout: "sidebar",
  components: {
    RequestTable
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view requests" }
  },
  data() {
    return {

    };
  },

  methods: {}
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
/* .right {
  position: absolute;
  left: 25px;
} */
</style>
