<template>
  <TruckscaleReport />
</template>

<script>
import TruckscaleReport from "~/components/Report/TruckscaleReport.vue";

export default {
  layout: "sidebar",
  components: {
    TruckscaleReport
  },
  middleware: "pageValidator",
  meta: {
    access: { right: "view reports" }
  },
  data() {
    return {
      tabIndex: 0
    };
  },

  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.color1 {
  color: #00803e;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: #ff6600;
  color: white;
}
.align {
  float: right;
}
/* .right {
  position: absolute;
  left: 25px;
} */
</style>
